<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>国美后台管理</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}"/>
		<link rel="bookmark" href="images/favicon.ico" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" type="text/css" href="css/base.css" th:href="@{/css/base.css}">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"  th:href="@{/css/iconfont.css}" >
		<script type="text/javascript" src="framework/jquery-1.11.3.min.js" th:src="@{/framework/jquery-1.11.3.min.js}"></script>
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}">
		<script type="text/javascript"  src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="css/login1.css"  th:href="@{/css/login1.css}" >
		<script type="text/javascript" src="js/login1.js" th:src="@{/js/login1.js}"></script>
		<script src="js/jquery-1.8.3.js" th:src="@{/js/jquery-1.8.3.js}"></script>
	</head>

	<body>
		<div class="loginBg"></div>
		<div class="login_main">
			<div class="box">
				<div class="left" >
					<img src="images/logo.jpg" th:src="@{/images/logo.jpg}" height="800" width="800"/>
					<p>国美后台管理</p>
				</div>
				<div class="right">
					<form class="layui-form layui-form-pane" action="/Users/Back/adminLogin" method="post">
						<div class="layui-form-item">
							<label class="layui-form-label login_title"><i class="iconfont icon-gerenzhongxin-denglu"></i></label>
							<div class="layui-input-block login_input">
								<input type="text" name="userName" required lay-verify="required" autocomplete="off" placeholder="请输入您的用户名" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label login_title"><i class="iconfont icon-mima1"></i></label>
							<div class="layui-input-block login_input">
								<input type="password" name="passWord" required lay-verify="required" autocomplete="off" placeholder="请输入密码" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<input type="submit" class="layui-btn layui-btn-fluid login_but" lay-submit lay-filter="loginBut" value="登录">
						</div>
					</form>
				</div>
			</div>
		</div>



	<script th:inline="javascript">

        var mess = [[${errorMess}]];
        //一般直接写在一个js文件中
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,form = layui.form;

            layer.msg(mess);
        });

	</script>




	</body>



</html>