server:
  port: 9999

spring:
  mvc:
    static-path-pattern: /**          #设置静态文件路径，js,css等
    resources:
      static-locations: classpath:/templates/,classpath:/static/,classpath:/META-INF/resources/,classpath:/resources/
  resources:
    static-locations: classpath:/templates/,classpath:/static/
  thymeleaf:
    encoding: UTF-8
    #开发时关闭缓存,不然看不到实时页面
    cache: false
    prefix: classpath:/templates/
    suffix: .html
  main:
    allow-bean-definition-overriding: true #当遇到同样名字的时候，是否允许覆盖注册

  #spring:
  application:
    name: consumer-back

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:6001/eureka

