<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>手机充值-移动、联通、电信手机话费充值 - 国美</title>
    <script type="text/javascript">var dynSite='//g.gome.com.cn',staSite='//www.gome.com.cn',gomeplusDomain='.gome.com.cn',contextPath='/ec/homeus',cookieDomain='.gome.com.cn',imgServer='//app.gomein.net.cn/images',stageJsServer='//js.gomein.net.cn',stageImageServer='//img.gomein.net.cn',stageCssServer='//css.gomein.net.cn',gomeplusCdn='//js.meixincdn.com/m/pc/',versionData='1908220612';</script>

    <link href="css/css2.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/201908221809.css">
    <link href="css/recharge-index-1482808727777.css" rel="stylesheet" type="text/css">

    <script src="js/recharge/jquery-1.8.3.min.js"></script>
    <script src="js/recharge/201908221809.js"></script>

</head>
<body id="index">
<!-- 返利的导航 -->
<!--头部end--><!--newads-->
<!--newads-->
<div class="gome-top">
    <div id="gome-top-body" class="wbox">
        <ul>
            <li id="gome-entry-link"><a data-code="public01001" href="index.html" target="_blank"><i
                    class="icon-gome-logo"></i>国美首页</a></li>
            <li class="gome-spacer"></li>
            <li id="gome-user" data-load="user">
                <b id="loginDiv-name"><a data-code="public01053" href="javascript:;" rel="nofollow"
                                         target="_blank">国美会员</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a rel="nofollow" data-code="public01002" href="gm-login.html">登录</a><a class="gome-link-register"
                                                                                        rel="nofollow"
                                                                                        data-code="public01003"
                                                                                        href="gm-reg.html">注册有礼<i></i></a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link"><a rel="nofollow" data-code="public01004" href="gm-myOrder.html">我的订单</a></li>
            <li id="gome-mygome" data-load="mygome">
                <b><a rel="nofollow" data-code="public01050" href="javascript:;" target="_blank">我的国美</a><i></i></b>
                <div class="public-dropdown" style="height: 0px;">
                    <strong>我的国美，<a rel="nofollow" data-code="public01012"
                                    href="gm-login.html">请登录！</a></strong>
                    <ul id="mygome-order">
                        <li><a data-code="public01013" href="gm-myOrder.html"
                               target="_blank">待处理订单</a>
                            <ins id="waitPay"></ins>
                        </li>
                        <li><a data-code="public01014" href="gm-shoucang.html" target="_blank">我的收藏</a>
                        </li>
                        <li><a data-code="public01016" href="profile.html"
                               target="_blank">个人资料</a></li>
                        <li><a data-code="public01060" href="//meidian.gome.com.cn" target="_blank">我的美店</a></li>
                    </ul>
                    <ul id="mygome-coupon">
                        <li><a data-code="public01061" href="gomeMyCoupon.html" target="_blank">我的优惠券</a>
                            <ins id="twMyCoupon">-</ins>
                        </li>

                    </ul>
                    <p>足迹</p>
                    <ul id="mygome-track">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-enterprise" class="drop">
                <b><a rel="nofollow" data-code="public01055" href="javascript:;" target="_blank">企业采购</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
            <li id="gome-service" class="drop" data-load="service">
                <b><em class="gm-icon">&#x0066;</em><a data-code="public01052" rel="nofollow" href="javascript:;"
                                                       target="_blank">服务中心</a><i></i></b>
                <div class="public-dropdown">
                    <p><a href="//help.gome.com.cn" target="_blank" rel="nofollow">用户服务</a></p>
                    <ul>
                        <li><a data-code="public01023" href="//help.gome.com.cn/shfw" target="_blank" rel="nofollow">售后服务</a>
                        </li>
                        <li><a data-code="public01024" href="//help.gome.com.cn/bzfw" target="_blank" rel="nofollow">帮助服务</a>
                        </li>
                        <li><a data-code="public01025" href="//help.gome.com.cn/xszn" target="_blank" rel="nofollow">新手指南</a>
                        </li>
                        <li><a data-code="public01026" href="//help.gome.com.cn/lxkf" target="_blank" rel="nofollow">客服服务</a>
                        </li>
                        <li><a data-code="public01027" href="//help.gome.com.cn/question/6594.html" target="_blank"
                               rel="nofollow">用户注销</a></li>
                    </ul>
                    <p><a href="//help.gome.com.cn/sj" target="_blank" rel="nofollow">商家服务</a></p>
                    <ul>
                        <li><a data-code="public01029" href="//www.gome.com.cn/join/" target="_blank" rel="nofollow">商家入驻</a>
                        </li>
                        <li><a data-code="public01031" href="//pop.gome.com.cn" target="_blank" rel="nofollow">商家登录</a>
                        </li>
                        <li><a data-code="public01032" href="//amp.gome.com.cn/home" target="_blank"
                               rel="nofollow">广告平台</a></li>
                        <li><a data-code="public01033" href="//help.gome.com.cn/sj/rules" target="_blank"
                               rel="nofollow">平台规则</a></li>
                        <li><a data-code="public01034" href="//px.gome.com.cn" target="_blank" rel="nofollow">商家培训</a>
                        </li>
                    </ul>
                    <a class="live800-service" customer-entry="composite" customer-service-button-id="" orgi="111111"
                       orgitype="1"><em class="gm-icon">f</em>在线客服</a>
                    <span><em></em>4008-708-708<ins>(9:00-21:00)</ins></span></div>
            </li>
            <li id="gome-sitemap" class="drop" data-type="default" data-load="sitemap">
                <b><a rel="nofollow" data-code="public01060" href="javascript:;" target="_blank">网站导航</a><i></i></b>
                <div class="public-dropdown">
                    <dl class="none">
                        <dt>主题促销</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043234-0" href="gm-calculate.html" target="_blank">真划算</a></li>
                                <li><a data-code="1000043234-1" href="gm-qianggou.html" target="_blank">抢购</a></li>
                                <li><a data-code="1000043234-2" href="//www.gomehome.com/?intcmp=sy-1000037121-2"
                                       target="_blank">美家致选</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043236-0" href="//jiadian.gome.com.cn/" target="_blank">家电城</a>
                                </li>
                                <li><a data-code="1000043236-1" href="//fashion.gome.com.cn/" target="_blank">服饰城</a>
                                </li>
                                <li><a data-code="1000043236-2" href="//market.gome.com.cn/" target="_blank">国美超市</a>
                                </li>
                                <li><a data-code="1000043236-3" href="//tehui.gome.com.cn/" target="_blank">品牌街</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043238-0" href="//smart.gome.com.cn/" target="_blank">智能</a></li>
                                <li><a data-code="1000043238-1" href="//www.gome.com.cn/bestGome.html" target="_blank">今日特卖</a><i
                                        class="hot"></i></li>
                                <li><a data-code="1000043238-2" href="//new.gome.com.cn/" target="_blank">新品抢先</a></li>
                                <li><a data-code="1000043238-3" href="//homes.gome.com.cn/?intcmp=sy-1000000378-8"
                                       target="_blank">家居家装</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>特色分类</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043241-0" href="//electronic.gome.com.cn/"
                                       target="_blank">电视影音</a></li>
                                <li><a data-code="1000043241-1" href="//bx.gome.com.cn/" target="_blank">冰洗</a></li>
                                <li><a data-code="1000043241-2" href="//xyj.gome.com.cn/" target="_blank">洗衣机</a></li>
                                <li><a data-code="1000043241-3" href="//kt.gome.com.cn/" target="_blank">空调</a></li>
                                <li><a data-code="1000043241-4" href="//life.gome.com.cn/" target="_blank">厨卫生活</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043243-0" href="//tongxun.gome.com.cn/" target="_blank">手机</a>
                                </li>
                                <li><a data-code="1000043243-1" href="//digital.gome.com.cn/" target="_blank">数码</a>
                                </li>
                                <li><a data-code="1000043243-2" href="//computer.gome.com.cn/" target="_blank">电脑办公</a>
                                </li>
                                <li><a data-code="1000043243-3" href="//peijian.gome.com.cn/" target="_blank">精品配件</a>
                                </li>
                                <li><a data-code="1000043243-4" href="//auto.gome.com.cn/" target="_blank">汽车</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043245-0" href="//furnit.gome.com.cn/" target="_blank">住宅家具</a>
                                </li>
                                <li><a data-code="1000043245-1" href="//decoration.gome.com.cn/"
                                       target="_blank">家装建材</a></li>
                                <li><a data-code="1000043245-2" href="//jiaju.gome.com.cn/" target="_blank">家居日用</a>
                                </li>
                                <li><a data-code="1000043245-3" href="//jiafang.gome.com.cn/" target="_blank">床品家纺</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043247-0" href="//clothing.gome.com.cn/" target="_blank">服饰鞋帽</a>
                                </li>
                                <li><a data-code="1000043247-1" href="//toysgifts.gome.com.cn/" target="_blank">运动户外</a>
                                </li>
                                <li><a data-code="1000043247-2" href="//luxury.gome.com.cn/" target="_blank">箱包奢品</a>
                                </li>
                                <li><a data-code="1000043247-3" href="//watch.gome.com.cn/" target="_blank">钟表首饰</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043249-0" href="//alcohol.gome.com.cn/" target="_blank">食品酒水</a>
                                </li>
                                <li><a data-code="1000043249-1" href="//baby.gome.com.cn/" target="_blank">母婴玩具</a></li>
                                <li><a data-code="1000043249-2" href="//beauty.gome.com.cn/" target="_blank">美妆个护</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>便捷服务</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043255-0" href="recharge.html"
                                       target="_blank">话费充值</a></li>
                                <li><a data-code="1000043255-1" href="//meidian.gome.com.cn" target="_blank">美店</a><i
                                        class="new"></i></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043257-0" href="flowindex.html"
                                       target="_blank">流量充值</a></li>
                                <li><a data-code="1000043257-1" href="//mall.gome.com.cn/80011410"
                                       target="_blank">上门服务</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>更多热点</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043260-0" href="//www.gome.com.cn/jiameng"
                                       target="_blank">加盟国美</a></li>
                                <li><a data-code="1000043260-1" href="//www.gome.com.cn/join/" target="_blank">商家入驻</a>
                                </li>
                                <li><a data-code="1000043260-2" href="//b.gome.com.cn/" target="_blank">企业采购</a><i
                                        class="hot"></i></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>国美旗下</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043263-0" href="//www.gomegj.com/" target="_blank">国美管家</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <!--sitemap--></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-phone" class="drop">
                <b><em class="gm-icon">&#x00E1;</em><a data-code="public01049" rel="nofollow" href="javascript:;"
                                                       target="_blank">手机国美</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
        </ul>
    </div>


</div>
<!--gome_top-->
<!--head-->
<!--国美顶部导航条结束-->

<div class="topheadwarp">
    <div class="topad"><div class="wbox pr ad-position w1200" adid="91" data-topad="true"></div></div>
    <!--导航广告结束-->
    <div class="wbox w1200 headlayer">
        <div class="gome-logo">
            <div><a href="javascript:;" title="国美充值"><img src="picture/wt-logo.png" alt="国美充值"></a></div>
        </div>
        <div class="topsearch" id="topSearch">
            <div id="topSearchHover" class="searchbox" data-visitor="hover">
                <form id="searchForm" method="get" action="//www.gome.com.cn/search" onsubmit="return keyCheck();">
                    <label id="keyLabel" class="overtips" style="display: block; width: auto;" default="搜索全站商品,1"></label>
                    <input type="text" id="searchInput" name="question" class="search-input" value="" autocomplete="off" onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}" style="width:320px;">
                    <button class="search-btn" onclick="doSearch();"></button>
                </form>
            </div>
            <div class="searchtips buoyant" id="searchTips" style="display:none;">
                <ul class="searchabout j-hover clearfix" id="searchTipsList"></ul>
            </div>
            <script type="text/javascript">
                var environment = 'commerce',
                    targetType = 'Production',
                    contentLabels = 'Catalog',
                    language = 'chinese';
            </script>

            <div class="hotkeyword" style="display: block;">
                <span class="ad-position top-keyad" adid="83"></span>
            </div>
        </div>

        <a rel="nofollow" class="my-lot" href="javascript:;" target="_blank"><em class="i-cart"></em><span class="hdrcarttext">我的充值</span></a>
        <a rel="nofollow" class="r-coupon" href="javascript:;"><em class="r-cart"></em><span class="hdrcarttext">充值劵激活</span></a>
    </div>
    <!--logo搜索区域结束-->
    <div class="mainnavbox">
        <div class="wbox w1200">
            <ul class="recharge-menu-warpper clearfix">
                <li class="">
                    <a href="recharge.html" title="充话费" ><span>充话费</span></a>
                </li>
                <li class="">
                    <a href="flowindex.html" title="充流量" class="active"><span>充流量</span></a>
                </li>
                <li class="showmenu-btn">
                    <a href="javascript:;" title="手机客户端" rel="nofollow"><span>手机客户端</span>
                    </a>

                    <div class="mobile-lottery-nav showmenu-box fYahei">
                        <ul class="mobile-lottery-txt ad-position" adid="80"></ul>
                        <div class="mobile-lottery-img ad-position" adid="79">
                            <img alt="充值" src="//img.gomein.net.cn/vt//UAD/icon/1505827420330/1505827420330.jpg" style="width:130px;height:130px">
                        </div>
                    </div>
                </li>
                <li class="showmenu-btn">
                    <a href="javascript:;" title="公众号" rel="nofollow"><span>公众号</span></a>
                    <div class="mobile-lottery-nav showmenu-box fYahei">
                        <ul class="mobile-lottery-txt ad-position" adid="80"></ul>
                        <div class="mobile-lottery-img ad-position" adid="138"><!-- 测试环境132，生产138 -->
                            <img alt="充值" src="//img.gomein.net.cn/vt//UAD/icon/1508224071353/1508224071353.jpg" style="width:130px;height:130px">
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!--主菜单结束-->
</div>
<!--头部结束-->

<div class="m-rcg-container w1200 fYahei clearfix">
    <div class="rcg-left">
        <div class="gg-item" adid="94">
            <a href="//wt.gome.com.cn/recharge/index.html?intcmp=pdzc1-sjcz-sjcz-001" target="_blank"><img alt="充值" src="//img.gomein.net.cn/vt//UAD/icon/1545388228735/1545388228735.jpg" style="width:200px;height:230px"></a>
        </div>
        <div class="gg-item" adid="95">
            <a href="//prom.gome.com.cn/html/prodhtml/topics/201707/17/9309839330.html?intcmp=pdzc1-sjcz-sjcz-002" target="_blank"><img alt="充值" src="//img.gomein.net.cn/vt//UAD/icon/1559806381014/1559806381014.jpg" style="width:200px;height:230px"></a>
        </div>
        <div class="gg-item" adid="96">
            <a href="//item.gome.com.cn/A0005820755-pop8008711247.html/?intcmp=pdzc1-sjcz-sjcz-003" target="_blank"><img alt="充值" src="//img.gomein.net.cn/vt//UAD/icon/1554884216162/1554884216162.jpg" style="width:200px;height:230px"></a>
        </div>
        <div class="gg-item" adid="97"></div>
    </div>
    <div class="rcg-right">
        <div class="rcg-wrap">
            <div class="step step-1"></div>
            <div class="rcg-items rcg-items-tit clearfix">
                <div class="rcg-span">充值类型：</div>
                <div class="input-box">
                    <a href="recharge.html" class="tab-btn mnlabel" ><i class="mnradio"></i>话费充值</a>
                    <a href="flowindex.html" class="tab-btn mnlabel cur"style="margin-right: 22px;"><i class="mnradio"></i>流量充值</a>
                </div>
            </div>
            <div class="rcg-list clearfix tab-box">
                <div class="rcg-items clearfix">
                    <div class="rcg-span">手机号码：</div>
                    <div class="input-box inpbox-pos  clearfix">
                        <input type="text" maxlength="11" data-name="tel-num" autocomplete="off" class="tel-input pub-int" value="请输入手机号码" id="txmobile">
                        <span class="history-telnum"><i class="history-num-icon"></i><em class="history-num-tt">历史号码</em></span>
                        <span class="tel-msg-tip msg-color-grey">支持移动/联通/电信/极信</span>
                        <ul class="tel-num-big" style="display: none;">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="rcg-items clearfix">
                    <div class="rcg-span">使用范围：</div>
                    <div class="input-box">
                        <span class="fsmg mnlabel use-range-tab cur"><i class="mnradio"></i>全国</span>
                        <span class="fsmg mnlabel use-range-tab disabled" style="color: #ccc;"><i class="mnradio"></i>省内</span>
                    </div>
                </div>
                <div class="rcg-items clearfix">
                    <div class="rcg-span">流量面值：</div>
                    <div class="input-box rcg-par-value clearfix" id="indexpackage-warp">
                        <ul>
                            <li price="22" data-dtpi="0.8-1">5M<em></em></li>
                            <li price="23" data-dtpi="1.6-3">10M<em></em></li>
                            <li price="33" data-dtpi="2.5-4">20M<em></em></li>
                            <li price="24" data-dtpi="3.6-5">30M<em></em></li>
                            <li price="25" data-dtpi="5.5-6">50M<em></em></li>
                            <li price="26" data-dtpi="9-10">70M<em></em></li>
                            <li price="27" data-dtpi="9-10">100M<em></em></li>
                            <li price="28" data-dtpi="18-20.00">150M<em></em></li>
                            <li price="29" data-dtpi="12-15">200M<em></em></li>
                            <li price="237" data-dtpi="18-19.0">300M<em></em></li>
                            <li price="30" data-dtpi="24-30">500M<em></em></li>
                            <li price="32" data-dtpi="40-50" class="pv-item-active">1G<em></em></li>
                            <li price="34" data-dtpi="30-90">2G<em></em></li>
                            <li price="35" data-dtpi="70-120">3G<em></em></li>
                            <li price="36" data-dtpi="50-100">5G<em></em></li>
                            <li price="37" data-dtpi="80-150">10G<em></em></li>
                            <li price="38" data-dtpi="200-200">15G<em></em></li>
                            <li price="39" data-dtpi="300-300">30G<em></em></li>
                        </ul></div>
                </div>
                <div class="rcg-items mobilesell clearfix">
                    <div class="rcg-span">售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</div>
                    <div class="input-box ">
                        <strong class="price" id="mobilesell">¥ 40-50</strong>
                    </div>
                </div>
                <div class="rcg-items clearfix">
                    <div class="input-box rcg-btn-style">
                        <a class="rcg-btn" href="javascript:void(0)" id="tr-submit">立即充值</a>
                        <a class="help-link" target="_blank" href="javascript:;">充值帮助</a>
                    </div>
                </div>
            </div>

            <p class="rcg-tips clearfix"><span adid="69" class="rcg-tips-info"></span></p>

        </div>
        <div class="m-recommend">
            <p class="recm-tit">优选商品</p>
            <div class="recm-slider">
                <ul class="recm-slider-main clearfix" rmsliderid="99">

                </ul>
                <div class="recm-slider-page">
                    <a href="javascript:void(0)" class="slider-prev"></a>
                    <a href="javascript:void(0)" class="slider-next"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w1200" adid="98"></div>
<div class="w1200 fYahei">
    <div class="footer-nav clearfix">
        <ul>
            <li>
                <a href="recharge.html" class="fnav-icon"></a>
                <h4>充话费</h4>
                <!-- <p class="slogan">国美充话费、优惠无处不在</p> -->
            </li>
            <li>
                <a href="flowindex.html" class="fnav-icon icon-flow"></a>
                <h4>充流量</h4>
                <!-- <p class="slogan">流量任性用、全网底价</p> -->
            </li>
            <!--<li class="disabled">
               <a href="javascript:;" class="fnav-icon icon-pre"></a>
               <h4>宽带预装</h4>
           </li>
           <li class="disabled">
               <a href="javascript:;" class="fnav-icon icon-pay"></a>
               <h4>宽带缴费</h4>
           </li>-->
            <li>
                <a href="javascript:;" class="fnav-icon icon-game"></a>
                <h4>充点卡</h4>
            </li>
            <li class="disabled">
                <a href="javascript:;" class="fnav-icon icon-fuel"></a>
                <h4>充加油卡</h4>
            </li>
        </ul>
    </div>
</div>
<!--尾部-->
<div id="gome-foot">
    <div id="gome-foot-box">
        <ul class="foot_small_zdy_w">
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li><li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li><li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a></p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备 19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">营业执照</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;" target="_blank"><i class="tw-w-mark-icon"></i>京公网安备 11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->

<!-- 在线客服 -->
<div title="在线客服" class="wraplive800 dn">
    <span lim:offlinetip="" lim:shopnsame="%E5%95%86%E9%93%BA%E5%90%8D%E5%AD%97" lim:shopid="3" lim:page="0" lim:company="3" class="live800 live800_gome" id="live800" title=""><a style="cursor:pointer" class="onlines" href="javascript:;"></a></span>
</div>

<script src="js/recharge/Js.js"></script>

<script type="text/javascript">
    s.pageName="手机充值:首页 ";
    s.channel="手机充值";
    s.prop1="手机充值";
    s.prop2="手机充值:首页";
    s.prop3="手机充值:首页";
    s.prop4="手机充值";
    var s_code=s.t();
    if(s_code)document.write(s_code);

</script>

<script src="js/recharge/util.wt-1474531446666.js"></script>
<script src="js/recharge/indexwide-1487233290600.js"></script>
<script src="js/recharge/getpic.js"></script>

<script>
    //$(document).ready(function() {
    var index = new Recharge({
        element: $('#index')
    });
    //});
</script>
</body>
</html>