<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="国美在线(Gome.com.cn)国美电器唯一官方网上商城，中国领先的专业家电网购平台。全球品牌电视、洗衣机、电脑、手机、数码、空调、电脑配件、生活电器、网络产品等正品行货，更低价格，更快送达，为您提供便捷、诚信的服务。有国美，生活美！"
          name="description">
    <meta content="用户登录" name="Keywords">
    <!-- <meta http-equiv="X-UA-Compatible" content="edge" /> -->
    <!-- 启用360浏览器的极速模式(webkit) – -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="applicable-device" content="pc">
    <meta name='360_ssp_verify' content='c07d2d89e39a848c43e118883a94560f'>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="data-code" content="sy">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=//m.gome.com.cn">
    <meta http-equiv="mobile-agent" content="format=html5; url=//m.gome.com.cn">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="applicable-device" content="pc">
    <title>用户登录-国美</title>
    <link rel="shortcut icon" href="font/favicon.ico" type="image/x-icon">3
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body class="w990">
<style type="text/css">
    #gome-foot, #gome-foot-box {
        border: none;
        background: #fff;
    }

    #gome-foot ul {
        width: auto !important;
    }
</style>
<!--<script type="text/javascript">-->
    <!--var staSite = 'http://www.gome.com.cn';-->
<!--</script>-->

<div id="popLogin-dytscBir" style="display:none;z-index:9999999;position:fixed;">
    <iframe id="popLogin-ifrWindow" src="" frameborder="0" scrolling="no" style="width:462px;height:605px;"
            allowtransparency="true"></iframe>
</div>
<!--
<script type="text/javascript">
    //短信验证码计时器
    var pop = {
        layerShow: function (ev, layerName) {
            if ($("input:first")) $("input:first").focus().blur();
            var isIE = $.browser.msie && !$.support.opacity,
                isIE6 = isIE && $.browser.version < 7;
            if (!$("#Overlay").length > 0) {
                if (!isIE6) {
                    $("body").append("<div id='Overlay' style='background:#000;cursor: pointer;display: block;filter:alpha(opacity=15);opacity: 0.15;height:100%;width:100%; position: fixed; left: 0;top: 0;z-index:9999998'></div>")
                } else {
                    $("html").css({
                        "height": "100%"
                    });
                    $("body").css({
                        "height": "100%"
                    });
                    $("body").append("<div class='overlay' id='Overlay'><iframe  frameborder=0 id='frame1' style='filter:alpha(opacity=85);opacity: 0.15;height:100%;width:100%;'></iframe></div>")
                }
            }
            $("#Overlay").show();
            var od = $("#" + layerName);
            var itop = (document.documentElement.clientHeight - od.height()) / 2;
            var ileft = (document.documentElement.clientWidth - od.width()) / 2;
            if (!isIE6) {
                od.css("top", itop).css("left", ileft).css("position", "fixed").css("z-index", "9999999").show();
                od.addClass("chagetop");
            } else {
                od.css("position", "absolute").css("top", itop).css("left", ileft).show().css("z-index", "9999999");
            }
        },
        closeLayer: function (layerName) {
            $("#" + layerName).hide();
            $("#Overlay").hide();
        }
    }
</script>-->


<!-- 返利的导航 -->
<!--头部end--><!--newads-->
<!--newads-->
<div id="gome-head" class="wbox">
    <div id="logo"><a data-code="public03001" href="javascript:;">国美</a></div>
    <div id="head-title"></div>
    <div id="head-box"></div>
</div>
<!--gome_head -->
<!--head-->

<div class="safeTipDiv"><p class="safeTip"><em></em>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！新版<a href="javascript:;"
                                                                                             target="_blank">《国美隐私政策》</a>已上线，将更有利于保护您的个人隐私。
</p></div>
<div class="content-bg" style="background:#fff1e8">
    <div class="main clearfix" style="background-image:url(image/T1ruLjBvd_1RCvBVdK.jpg);">
        <div class="login-box-wrap">
            <div class="loginHead clearfix">
                <div class="loginTab tabLeft" id="tabLeft"><a href="javascript:void(0)">扫码登录</a></div>
                <div class="loginTab tabRight" id="tabRight"><a href="javascript:void(0)">账户登录</a></div>
            </div>
            <div class="loginBox">
                <div class="sm-login-box login-wrap" id="sm-login">
                    <div class="default-state">
                        <div class="qrcode-main clearfix" id="barcodeId">
                            <div class="qrcode-Image">
                                <img id="kaptchaImage22" width="165" height="165"
                                     src="picture/getQrcodeff.jpg">
                            </div>
                            <div class="qrcode-help" style="background: url(image/mobile.png)"></div>
                        </div>
                        <div class="right-state">
                            <div class="right-bg"></div>
                            <p class="right-title">扫描成功！</p>
                            <p class="padtop20" style="color:#a5a5a5">请按手机的提示操作，请勿刷新本页面！</p>
                        </div>
                        <div class="ma" id="errorTipCon" style="display:none">
                            <div class="error-state">
                                <p class="error-title">二维码已失效</p>
                                <a href="javascript:" onclick="refBarcode('f');">点击刷新</a>
                            </div>
                            <div class="keepOut"></div>
                        </div>
                        <div class="ma" id="errorTipCon2" style="display:none">
                            <div class="error-state">
                                <p class="error-title">登录失败</p>
                                <a href="javascript:" onclick="refBarcode('f');">刷新</a>
                            </div>
                            <div class="keepOut"></div>
                        </div>
                    </div>
                    <p class="qrcode-desc">打开手机
                        <a href="javascript:;" class="blink" target="_blank" title="国美">国美</a>
                    </p>
                    <p class="smCode">扫一扫登录</p>
                    <a class="fontBlink fr registerBtn" href="javascript:;" target="_blank" title="免费注册" tabindex="7">免费注册</a>
                </div>
                <div class="login-wrap" style="display:none">
                    <div id="err-tip">
                        <span class="icon"></span>
                        <div><p><b></b><span class="findpassword">或<a href="javascript:;" title="找回密码" class="fontBlink"
                                                                      target="_blank">找回密码</a></span></p></div>
                        <span class="accountPassword">
							<a href="javascript:;" title="账号密码登录" class="fontBlink accountLoginBtn">账号密码登录</a>
						</span>
                    </div>
                    <p class="tips" id="warmTips"><em></em><span></span><a href="" id="snsUrl" class="fontBlink"
                                                                           style="margin-left:6px;">登录</a></p>

                    <form action="/gmsst5Login.no" method="post" id="frm" autocomplete="off">
                        <div class="normalLogin">
                            <p class="tips warningTip"><em></em>公共场所不建议自动登录，以防账号丢失</p>
                            <div class="login-item login-item-name" id="loginNameDiv">
                                <a href="javascript:;" class="clear-btn"></a>
                                <span class="default" id="loginNameDefault">手机号码<em>/</em>用户名<em>/</em>邮箱<em>/</em>门店会员卡号</span>
                                <input name="loginName" id="loginName" tabindex="1" type="text" class="txt">
                                <div class="gome-coo8-tips" id="gome-coo8-tips" style="display:none"
                                     istestconflict="true">
                                    <b id="tip_icon"></b>
                                    <div id="tip_con">
                                        <p class="tit">该账户在国美和原库巴中均存在，请选择：</p>
                                        <ul class="choose clearfix">
                                            <li><label><input name="gomeOrCoo8" id="gomeRadio" type="radio"
                                                              value="gome">国美账号</label></li>
                                            <li><label><input name="gomeOrCoo8" id="coo8Radio" type="radio"
                                                              value="coo8">原库巴账号</label></li>
                                            <li class="clo" id="tip_clo">关闭</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="login-item login-item-pwd" id="loginPasswordDiv">
                                <a href="javascript:;" class="clear-btn"></a>

                                <span class="default" id="loginPasswordDefault">密码</span>
                                <input id="loginPassword" tabindex="2" type="password" class="txt" value=""
                                       autocomplete="off"
                                       onkeypress="javascript:detectCapsLock(event);handleFocus('loginPassword');if(event.keyCode==13 && isSubmit){loginGome(preLogin);return false;}">
                                <input type="password" name="password" value="" style="display: none;">
                                <input type="publicKey" name="publicKey"
                                       value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCBOIxEVE5kOoKO4/lUxLX0OIl5ioauoJZSO1G/3dYJRxuiWlfJzP4pDwtz2hPV2FhjrB7RdJ7qgrk7diTcet1QVyYtAJwS2NY6rwCUB7DHoWaz2HmLcIEniy0a0i6ofPQqaEnA8g0qZlye95pN+FeBdEzlMM8ut1a73NuyHH32iQIDAQAB"
                                       style="display: none;">
                                <input type="passwordNum" name="passwordNum" value="" style="display: none;">
                                <span id="capital_tip" class="capital-tip" style="display: none;">大写锁定已打开</span>
                            </div>
                            <div class="login-item login-item-verify captchaDiv" id="captchaDiv" style="display:none;">
                                <span class="default" id="captchaDefault">验证码</span>
                                <input type="text" id="captcha" tabindex="3" name="captcha" autocomplete="off"
                                       class="txt captcha" maxlength="4" style="width: 110px;"
                                       onkeypress="javascript:focusCaptchaInput('captcha');if(event.keyCode==13){$('#err-tip b').empty();this.blur();loginGome(preLogin);return false;}"
                                       onkeyup="validateLoginCaptcha('captcha','frm')">
                                <label class="loginCaptcha">
                                    <img title="点击刷新" class="codeRefreshControlCenter"
                                         onclick="changeImageAuthenticCode('codeRefreshControlCenter','captchaImg','frm')">
                                </label>
                                <a onclick="javescript: changeImageAuthenticCode('codeRefreshControlCenter','captchaImg','frm')"
                                   class="fontBlink" tabindex="4" title="换一张">换一张</a>
                                <div class="verify-tips" style="display:none">
                                    <b class=""></b>
                                </div>
                            </div>
                            <div class="remember overflowhide clearfix">
                                <div class="fl">
                                    <input type="checkbox" id="autoLoginFlag" name="autoLoginFlag"
                                           class="ckbx autoLoginFlag" value="radiobutton">
                                    <label for="autoLoginFlag">自动登录</label>
                                </div>
                                <div class="fr" style="width:120px;">
                                    <a href="javascript:;" class="fl" target="_blank" id="forgetpwdmsg" tabindex="6"
                                       title="忘记密码">忘记密码</a>
                                    <span class="fl paddrl10 displayb colorccc">|</span>
                                    <a class="fontBlink fr" href="javascript:;" target="_blank" title="免费注册"
                                       tabindex="7">免费注册</a>
                                    <input name="autoLoginMode" id="autoLoginMode" class="autoLoginMode" type="text"
                                           value="" style="display: none;">
                                </div>
                            </div>
                            <input type="hidden" id="chkRememberUsername" name="chkRememberUsername" value="1"
                                   checked="checked">
                            <div class="actions">
                                <!-- 顶像验证码 -->
                                <div id="nomalcaptcha" style="display:none">
                                    <div class="captcha-title"
                                         style="padding-bottom: 7px; text-align:  left; letter-spacing: 0; color:#888; font-family: 'Microsoft Yahei'; font-size: 13px">
                                        <span class="captcha-title-left">为了账号安全，请完成拼图验证</span><span
                                            class="captcha-title-right"
                                            style=" float:  right; cursor: pointer;width: 12px;height: 12px;position: absolute;z-index: 3;top: 10px;right: 14px;overflow: hidden;display: block;background-position: -20px -90px;"></span>
                                    </div>
                                    <div id="captcha-content"></div>
                                </div>
                                <!-- 顶像验证码 -->
                                <input name="loginType" id="loginType" type="hidden" value="0">
                                <input name="captchaType" type="hidden" value="login" class="captchaType">
                                <input name="login" type="hidden" value="登录" id="loginButton">
                                <input type="hidden" value="0" id="loginErrorNum">
                                <!-- <input type="submit" class="btnnuw" value="登录"/> -->
                                <input type="button" tabindex="5" value="登 录" class="btnnuw"
                                       onclick="loginGome(preLogin);return false;">
                            </div>

                            <p style="padding: 30px 0 15px;">
                                <a href="javascript:;" class="fontBlink phoneLoginBtn">手机号快速登录(支持门店预留手机)</a>
                            </p>

                        </div>
                    </form>
                    <form action="/doQuickLogin.no" method="post" id="quickeLoginForm" autocomplete="off"
                          style="display:none">
                        <div class="quickenLogin">
                            <p class="tips warningTip"><em></em>公共场所不建议自动登录，以防账号丢失</p>
                            <div class="login-item login-item-name" id="phoneNumDiv">
                                <span class="default" id="phoneNumDefault">请输入手机号(支持门店预留手机)</span>
                                <input id="phoneNum" name="phoneNum" tabindex="1" type="text" maxlength="11"
                                       class="txt " isclick="true" verify="no"
                                       onkeypress="if(event.keyCode==13||event.which==13){return false;}"
                                       onpaste="return false;">
                            </div>
                            <div class="login-item login-item-verify" id="codeCheckDiv" style="display:none;">
                                <span class="default" id="codeCheckDefault">验证码</span>
                                <input type="text" id="codeCheck" tabindex="3" name="captcha" autocomplete="off"
                                       class="txt captcha" maxlength="4" style="width: 110px;"
                                       onkeypress="javascript:focusCaptchaInput('codeCheck');handleFocus('codeCheck');if(event.keyCode==13){$('#err-tip b').empty();this.blur();loginQuickGome(preLogin);return false;}"
                                       onkeyup="validateLoginCaptcha('codeCheck','quickeLoginForm')">
                                <label class="loginCaptcha">
                                    <img title="点击刷新" class="codeRefreshControlCenter"
                                         onclick="changeImageAuthenticCode('codeRefreshControlCenter','codeCheckImg','quickeLoginForm')">
                                </label>
                                <a onclick="javescript: changeImageAuthenticCode('codeRefreshControlCenter','codeCheckImg','quickeLoginForm')"
                                   class="fontBlink" tabindex="4" title="换一张">换一张</a>
                                <div class="verify-tips" style="display:none">
                                    <b class=""></b>
                                </div>
                            </div>
                            <div class="login-item" id="verifyCodeDiv">
                                <input id="verifyCode" name="msgCode" maxlength="6" tabindex="4" class="txt w138"
                                       verify="no" type="text"
                                       onkeypress="javascript:if(event.keyCode==13){loginQuickGome(preLogin);return false;}">
                                <div class="check check-border" style="position:relative;0px">
                                    <a class="check-phone" href="javascript:void(0);" id="getVerifyCode" isclick="false"
                                       style="padding:2px 5px">获取短信验证码</a>
                                    <span class="check-phone disable" style="display: none;" id="timeSpan"><em
                                            id="time">60</em> 秒后重新获取
						          </span>
                                    <a class="check-phone" tabindex="6" id="resendSpan" style="display:none">重新获取验证码</a>
                                </div>
                                <div style="display: none;" id="timeSpanMsbbox">
                                    <b></b>短信验证码已发至您的手机，10分钟内有效
                                </div>
                                <span class="default" id="verifyCodeDefault">短信验证码</span>
                            </div>
                            <div class="remember clearfix" style="padding-top:5px;">
                                <div class="fl">
                                    <input id="autoLoginFlagNew" name="autoLoginFlagNew" class="ckbx autoLoginFlag"
                                           value="radiobutton" type="checkbox">
                                    <label for="autoLoginFlagNew">自动登录</label>
                                    <input name="autoLoginModeNew" id="autoLoginModeNew" class="autoLoginMode" value=""
                                           style="display: none;" type="text">
                                </div>
                            </div>
                            <p class="detailContent">未注册的手机号将自动注册，且代表您同意<a href="javascript:;"
                                                                           class="fontBlink">《服务协议》</a></p>
                            <div class="actions">
                                <!-- 顶像验证 -->
                                <div id="quikecaptcha" style="display:none">
                                    <div class="captcha-title"
                                         style="padding-bottom: 7px; text-align:  left; letter-spacing: 0; color:#888;font-family: 'Microsoft Yahei'; font-size: 13px">
                                        <span class="captcha-title-left">为了账号安全，请完成拼图验证</span><span
                                            class="captcha-title-right"
                                            style=" float:  right; cursor: pointer;width: 12px;height: 12px;position: absolute;z-index: 3;top: 10px;right: 14px;overflow: hidden;display: block;background-position: -20px -90px;"></span>
                                    </div>
                                    <div id="captcha-content2"></div>
                                </div>
                                <!-- 顶像验证 -->
                                <input name="loginType" id="loginType2" type="hidden" value="0">
                                <input name="captchaType" type="hidden" value="login" class="captchaType">
                                <input name="login" type="hidden" value="登录" id="loginButton2">
                                <input type="hidden" value="0" id="loginErrorNum2">
                                <input type="button" tabindex="5" value="登 录" class="btnnuw"
                                       onclick="loginQuickGome(preLogin);return false;">
                            </div>

                            <p style="padding: 10px 0 15px;">
                                <a href="javascript:;" class="fontBlink accountLoginBtn">账号密码登录</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            <dl class="corp-login" id="corp-login">
                <dd class="play_icon clearfix">
                    <a href="javascript:;" class="borderLine" title="门店会员卡登录">门店会员卡登录</a>
                    <a id="corp_qq" href="javascript:;" target="_parent" title="QQ" tabindex="8" class="borderLine"><em>QQ</em></a>
                    <a id="corp_weixin" href="javascript:;" target="_parent" title="微信" tabindex="18"
                       class="borderLine">微信</a>
                    <a id="corp_sina" href="javascript:;" target="_parent" title="新浪微博" tabindex="10"
                       class="borderLine">微博</a>
                    <a id="corp_gomezhifu" href="javascript:;" target="_parent" title="美付宝" tabindex="17">美付宝</a>
                    <a id="corp_jixintong" href="javascript:;" target="_parent" title="极信通" tabindex="16"
                       class="borderLine hide">极信通</a>
                    <a id="corp_alipay" href="javascript:;" target="_parent" title="支付宝" tabindex="9"
                       class="hide">支付宝</a>

                </dd>
                <dd><a class="more"></a></dd>
            </dl>

        </div>
        <a href="javascript:;" target="_blank" class="survey"><s class="icon"></s>我想对“登录”提意见</a>
    </div>
</div>


<div id="gome-foot">
    <div id="gome-foot-box">
        <ul class="foot_small_zdy_w">
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<!--<script type="text/javascript">
    var contextPath = '';
    var imgCodeHttps = 'https://imgcode.gome.com.cn';
    var captchaSrc = "https://imgcode.gome.com.cn/captcha.no?width=99&height=32&type=login&login=";
    var toLoginUrl = "gmsst5";
    var captchaTypeName = 'gsscast';
    var loginHttps = "https://login.gome.com.cn";
    var showQuickLink = "true";
    var smsURL = "do";
    var quickURL = "do";
    var publicKey = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCBOIxEVE5kOoKO4/lUxLX0OIl5ioauoJZSO1G/3dYJRxuiWlfJzP4pDwtz2hPV2FhjrB7RdJ7qgrk7diTcet1QVyYtAJwS2NY6rwCUB7DHoWaz2HmLcIEniy0a0i6ofPQqaEnA8g0qZlye95pN+FeBdEzlMM8ut1a73NuyHH32iQIDAQAB";
    var bigDataSend = "true";
    // 顶象滑块相关
    var openDingxiang = "true";
    var appId_dingxiang = "9d20bcf9dee0f3dd33ca1b0465f6c64f";
    var apiServer_dingxiang = "//captcha.gome.com.cn";
    var constIDServer_dingxiang = "//security.gome.com.cn/udid/c1";
    var constID_js_dingxiang = "//js.gomein.net.cn/security/js/dx-slider/const-id.js?v=20190401";
    var ua_js_dingxiang = "//js.gomein.net.cn/security/js/dx-slider/greenseer.js?v=20190401";
</script>-->
<!-- 顶像验证码 -->
<!-- 顶像验证码 -->

<!--<script type="text/javascript">
    // window.onload = function () {
    //     var distinctId = GomeSa.store.getDistinctId();
    //     $.cookie('distinctId', distinctId);
    // }

    $(".detailContent a").bind("click", function () {
        popBox();
    });

    $(function () {
        if ('' == '') {
            if ($.cookie("loginNameCookie") != null && $.cookie("loginNameCookie") != '') {
                $("#loginName").val(($.cookie("loginNameCookie")).replace(/^\"|\"$/g, ''));
                $("#loginNameDefault").hide();
            } else {
                $("#loginNameDefault").show();
            }
        } else {
            $("#loginName").val(decodeURI(''));
        }

        var codeType = '';
        var message = '';
        if (message == "") {
            return;
        }
        showTips(codeType, message);
    });
</script>
<script type="text/javascript">
    /*大数据登录注册成功埋码*/
    function bigLoginReg() {
        var userId = $.cookie("sid");
        try {
            gomeClicki('send', 'event', '国美会员', '登录', '登录成功', {
                'customActionId': 102,
                'customActionLabel1': userId,//会员ID
                'customActionLabel2': '直接登录'//{}和{}里的内容根据实际值替换
            });
        } catch (err) {
            //防止事件触发失败影响业务
        }
    }

    $.getScript("https://misc.gomein.net.cn/js/loginfront/s_code-gz.min.js?v=20170607", function () {
        s.pageName = "国美登录";
        s.channel = "登录";
        s.prop1 = "登录";
        s.prop4 = "登录";
        var s_code = s.t();
        if (s_code) document.write(s_code);
    });
</script>-->
</body>
</html>