<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>领券中心</title>
    <meta name="description" content="国美在线(Gome.com.cn)-quantest">
    <meta name="Keywords" content="quantest">
    <!-- 启用360浏览器的极速模式(webkit) – -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="applicable-device" content="pc">
    <link rel="canonical" href="https://lingquan.gome.com.cn/">


    <script type="text/javascript">var dynSite = '//g.gome.com.cn', staSite = '//www.gome.com.cn',
        gomeplusDomain = '.gome.com.cn', contextPath = '/ec/homeus', cookieDomain = '.gome.com.cn',
        imgServer = '//app.gomein.net.cn/images', stageJsServer = '//js.gomein.net.cn',
        stageImageServer = '//img.gomein.net.cn', stageCssServer = '//css.gomein.net.cn',
        gomeplusCdn = '//js.meixincdn.com/m/pc/', versionData = '1908210608';</script>
    <link rel="stylesheet" href="css/201908211806.css">
    <link href="css/Css.css" rel="stylesheet">
    <style>
        .template-html img {
            background: url(static/image/juan/T18hDvBj_g1RCvBVdK.png) #efefef no-repeat center;
        }

        .gome-cms-floor-inner {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body data-page='prom67' data-channelid="channel67">
<script type="text/javascript">
    var winWidth = window.screen.width, objb = document.body;
    if (winWidth <= 1024) {
        objb.className += " " + "w1000";
    } else {
        objb.className = objb.className.replace("w1000", '');
    }
    ;
</script>
<!-- 返利的导航 -->
<!--头部end--><!--newads-->
<script>window.publicdefault = {
    "poster": [],
    "gif": [],
    "category": [{
        "id": "16893",
        "href": "//prom.gome.com.cn/html/prodhtml/topics/201908/14/5740912200.html",
        "src": "//gfs12.gomein.net.cn/T1.dKXB5CT1RCvBVdK.png",
        "code": "publicdefault_category-1",
        "bgcolor": "#FFF"
    }, {
        "id": "16925",
        "href": "//prom.gome.com.cn/html/prodhtml/topics/201908/14/1191693216.html",
        "src": "//gfs10.gomein.net.cn/T1mdbXB7D_1RCvBVdK.png",
        "code": "publicdefault_category-2",
        "bgcolor": "#FFF"
    }, {
        "id": "16929",
        "href": "//prom.gome.com.cn/html/prodhtml/topics/201908/12/1037892281.html",
        "src": "//gfs13.gomein.net.cn/T14IhXB5CT1RCvBVdK.png",
        "code": "publicdefault_category-3",
        "bgcolor": "#FFF"
    }],
    "top": [],
    "layer": []
}</script>
<script> window.publica32 = {"gif": [], "category": [], "top": []}</script>
<!--newads-->
<div id="gome-topad-sm" class="gome-topad">
</div>
<!--gome_topad-->
<div class="gome-top">
    <div id="gome-top-body" class="wbox">
        <ul>
            <li id="gome-entry-link"><a data-code="public01001" href="index.html" target="_blank"><i
                    class="icon-gome-logo"></i>国美首页</a></li>
            <li class="gome-spacer"></li>
            <li id="gome-user" data-load="user">
                <b id="loginDiv-name"><a data-code="public01053" href="javascript:;" rel="nofollow"
                                         target="_blank">国美会员</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a rel="nofollow" data-code="public01002" href="gm-login.html">登录</a><a class="gome-link-register"
                                                                                        rel="nofollow"
                                                                                        data-code="public01003"
                                                                                        href="gm-reg.html">注册有礼<i></i></a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link"><a rel="nofollow" data-code="public01004" href="gm-myOrder.html">我的订单</a></li>
            <li id="gome-mygome" data-load="mygome">
                <b><a rel="nofollow" data-code="public01050" href="javascript:;" target="_blank">我的国美</a><i></i></b>
                <div class="public-dropdown" style="height: 0px;">
                    <strong>我的国美，<a rel="nofollow" data-code="public01012"
                                    href="gm-login.html">请登录！</a></strong>
                    <ul id="mygome-order">
                        <li><a data-code="public01013" href="gm-myOrder.html"
                               target="_blank">待处理订单</a>
                            <ins id="waitPay"></ins>
                        </li>
                        <li><a data-code="public01014" href="gm-shoucang.html" target="_blank">我的收藏</a>
                        </li>
                        <li><a data-code="public01016" href="profile.html"
                               target="_blank">个人资料</a></li>
                        <li><a data-code="public01060" href="//meidian.gome.com.cn" target="_blank">我的美店</a></li>
                    </ul>
                    <ul id="mygome-coupon">
                        <li><a data-code="public01061" href="gomeMyCoupon.html" target="_blank">我的优惠券</a>
                            <ins id="twMyCoupon">-</ins>
                        </li>

                    </ul>
                    <p>足迹</p>
                    <ul id="mygome-track">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-enterprise" class="drop">
                <b><a rel="nofollow" data-code="public01055" href="javascript:;" target="_blank">企业采购</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
            <li id="gome-service" class="drop" data-load="service">
                <b><em class="gm-icon">&#x0066;</em><a data-code="public01052" rel="nofollow" href="javascript:;"
                                                       target="_blank">服务中心</a><i></i></b>
                <div class="public-dropdown">
                    <p><a href="//help.gome.com.cn" target="_blank" rel="nofollow">用户服务</a></p>
                    <ul>
                        <li><a data-code="public01023" href="//help.gome.com.cn/shfw" target="_blank" rel="nofollow">售后服务</a>
                        </li>
                        <li><a data-code="public01024" href="//help.gome.com.cn/bzfw" target="_blank" rel="nofollow">帮助服务</a>
                        </li>
                        <li><a data-code="public01025" href="//help.gome.com.cn/xszn" target="_blank" rel="nofollow">新手指南</a>
                        </li>
                        <li><a data-code="public01026" href="//help.gome.com.cn/lxkf" target="_blank" rel="nofollow">客服服务</a>
                        </li>
                        <li><a data-code="public01027" href="//help.gome.com.cn/question/6594.html" target="_blank"
                               rel="nofollow">用户注销</a></li>
                    </ul>
                    <p><a href="//help.gome.com.cn/sj" target="_blank" rel="nofollow">商家服务</a></p>
                    <ul>
                        <li><a data-code="public01029" href="//www.gome.com.cn/join/" target="_blank" rel="nofollow">商家入驻</a>
                        </li>
                        <li><a data-code="public01031" href="//pop.gome.com.cn" target="_blank" rel="nofollow">商家登录</a>
                        </li>
                        <li><a data-code="public01032" href="//amp.gome.com.cn/home" target="_blank"
                               rel="nofollow">广告平台</a></li>
                        <li><a data-code="public01033" href="//help.gome.com.cn/sj/rules" target="_blank"
                               rel="nofollow">平台规则</a></li>
                        <li><a data-code="public01034" href="//px.gome.com.cn" target="_blank" rel="nofollow">商家培训</a>
                        </li>
                    </ul>
                    <a class="live800-service" customer-entry="composite" customer-service-button-id="" orgi="111111"
                       orgitype="1"><em class="gm-icon">f</em>在线客服</a>
                    <span><em></em>4008-708-708<ins>(9:00-21:00)</ins></span></div>
            </li>
            <li id="gome-sitemap" class="drop" data-type="default" data-load="sitemap">
                <b><a rel="nofollow" data-code="public01060" href="javascript:;" target="_blank">网站导航</a><i></i></b>
                <div class="public-dropdown">
                    <dl class="none">
                        <dt>主题促销</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043234-0" href="gm-calculate.html" target="_blank">真划算</a></li>
                                <li><a data-code="1000043234-1" href="gm-qianggou.html" target="_blank">抢购</a></li>
                                <li><a data-code="1000043234-2" href="//www.gomehome.com/?intcmp=sy-1000037121-2"
                                       target="_blank">美家致选</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043236-0" href="//jiadian.gome.com.cn/" target="_blank">家电城</a>
                                </li>
                                <li><a data-code="1000043236-1" href="//fashion.gome.com.cn/" target="_blank">服饰城</a>
                                </li>
                                <li><a data-code="1000043236-2" href="//market.gome.com.cn/" target="_blank">国美超市</a>
                                </li>
                                <li><a data-code="1000043236-3" href="//tehui.gome.com.cn/" target="_blank">品牌街</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043238-0" href="//smart.gome.com.cn/" target="_blank">智能</a></li>
                                <li><a data-code="1000043238-1" href="//www.gome.com.cn/bestGome.html" target="_blank">今日特卖</a><i
                                        class="hot"></i></li>
                                <li><a data-code="1000043238-2" href="//new.gome.com.cn/" target="_blank">新品抢先</a></li>
                                <li><a data-code="1000043238-3" href="//homes.gome.com.cn/?intcmp=sy-1000000378-8"
                                       target="_blank">家居家装</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>特色分类</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043241-0" href="//electronic.gome.com.cn/"
                                       target="_blank">电视影音</a></li>
                                <li><a data-code="1000043241-1" href="//bx.gome.com.cn/" target="_blank">冰洗</a></li>
                                <li><a data-code="1000043241-2" href="//xyj.gome.com.cn/" target="_blank">洗衣机</a></li>
                                <li><a data-code="1000043241-3" href="//kt.gome.com.cn/" target="_blank">空调</a></li>
                                <li><a data-code="1000043241-4" href="//life.gome.com.cn/" target="_blank">厨卫生活</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043243-0" href="//tongxun.gome.com.cn/" target="_blank">手机</a>
                                </li>
                                <li><a data-code="1000043243-1" href="//digital.gome.com.cn/" target="_blank">数码</a>
                                </li>
                                <li><a data-code="1000043243-2" href="//computer.gome.com.cn/" target="_blank">电脑办公</a>
                                </li>
                                <li><a data-code="1000043243-3" href="//peijian.gome.com.cn/" target="_blank">精品配件</a>
                                </li>
                                <li><a data-code="1000043243-4" href="//auto.gome.com.cn/" target="_blank">汽车</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043245-0" href="//furnit.gome.com.cn/" target="_blank">住宅家具</a>
                                </li>
                                <li><a data-code="1000043245-1" href="//decoration.gome.com.cn/"
                                       target="_blank">家装建材</a></li>
                                <li><a data-code="1000043245-2" href="//jiaju.gome.com.cn/" target="_blank">家居日用</a>
                                </li>
                                <li><a data-code="1000043245-3" href="//jiafang.gome.com.cn/" target="_blank">床品家纺</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043247-0" href="//clothing.gome.com.cn/" target="_blank">服饰鞋帽</a>
                                </li>
                                <li><a data-code="1000043247-1" href="//toysgifts.gome.com.cn/" target="_blank">运动户外</a>
                                </li>
                                <li><a data-code="1000043247-2" href="//luxury.gome.com.cn/" target="_blank">箱包奢品</a>
                                </li>
                                <li><a data-code="1000043247-3" href="//watch.gome.com.cn/" target="_blank">钟表首饰</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043249-0" href="//alcohol.gome.com.cn/" target="_blank">食品酒水</a>
                                </li>
                                <li><a data-code="1000043249-1" href="//baby.gome.com.cn/" target="_blank">母婴玩具</a></li>
                                <li><a data-code="1000043249-2" href="//beauty.gome.com.cn/" target="_blank">美妆个护</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>便捷服务</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043255-0" href="recharge.html"
                                       target="_blank">话费充值</a></li>
                                <li><a data-code="1000043255-1" href="//meidian.gome.com.cn" target="_blank">美店</a><i
                                        class="new"></i></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043257-0" href="flowindex.html"
                                       target="_blank">流量充值</a></li>
                                <li><a data-code="1000043257-1" href="//mall.gome.com.cn/80011410"
                                       target="_blank">上门服务</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>更多热点</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043260-0" href="//www.gome.com.cn/jiameng"
                                       target="_blank">加盟国美</a></li>
                                <li><a data-code="1000043260-1" href="//www.gome.com.cn/join/" target="_blank">商家入驻</a>
                                </li>
                                <li><a data-code="1000043260-2" href="//b.gome.com.cn/" target="_blank">企业采购</a><i
                                        class="hot"></i></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>国美旗下</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043263-0" href="//www.gomegj.com/" target="_blank">国美管家</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <!--sitemap--></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-phone" class="drop">
                <b><em class="gm-icon">&#x00E1;</em><a data-code="public01049" rel="nofollow" href="javascript:;"
                                                       target="_blank">手机国美</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="javascript:;" target="_blank"></a>
                </div>
            </li>
        </ul>
    </div>


</div>
<!--gome_top-->
<div id="gome-head" class="wbox">
    <div id="logo"><a data-code="public03001" href="javascript:;">国美</a></div>
    <div id="slogan"></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="//search.gome.com.cn/search" onsubmit="return doSearch();">
                <div id="search-type-dropdown">
                    <div class="search-type">
                        <span class="search-type-selected" data-selected=""></span>
                        <i></i>
                    </div>
                    <ul class="search-type-list">
                        <li class="search-type-item" data-selector="goods">商品</li>
                        <li class="search-type-item" data-selector="shop">店铺</li>
                        <li class="search-type-item" data-selector="topic">话题</li>
                        <li class="search-type-item" data-selector="group">圈子</li>
                    </ul>
                </div>
                <label id="keyLabel" default="香肠派对,1;空调,1;冰箱,1;手机,1;洗衣机,1"></label>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off"
                       onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button type="button" class="search-btn" onclick="doSearch();">搜索</button>
            </form>
        </div>
        <div class="hotkeyword">
            <a data-code="1000043098-0" rel="nofollow" target="_blank" href="javascript:;">荣耀9X</a>
            <a data-code="1000043098-1" rel="nofollow" target="_blank" href="javascript:;">低至5折</a>
            <a data-code="1000043098-2" rel="nofollow" target="_blank" href="javascript:;">彩电领劵</a>
            <a data-code="1000043098-3" rel="nofollow" target="_blank" href="javascript:;">厨房卫浴</a>
            <a data-code="1000043098-4" rel="nofollow" target="_blank" href="javascript:;">家电39元</a>
            <a data-code="1000043098-5" rel="nofollow" target="_blank" href="javascript:;">手机领券</a>
            <a data-code="1000043098-6" rel="nofollow" target="_blank" href="javascript:;">空调1499元</a>
            <a data-code="1000043098-7" rel="nofollow" target="_blank" href="javascript:;">套购7.5折</a>
            <a data-code="public03003" href="javascript:;" target="_blank">商品排行榜</a>
            <a data-code="public03005" href="javascript:;" target="_blank">热门推荐</a>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce', targetType = 'Production', contentLabels = 'Catalog', language = 'chinese';
        </script>
    </div>
    <div class="mygome-side" data-cart="mincart">
        <ul class="topmenu clearfix">
            <li class="shopcartbox"><span class="cartlinkbox"><a data-code="public03004" rel="nofollow"
                                                                 class="menulink cartlink" href="javascript:;"><em
                    class="i-cart"><span class="shopnum"><span
                    id="commerceItemQuantityId">0</span><i></i></span></em><span
                    id="hdrcarttext">购物车空了</span><b></b></a></span>
                <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                    <div id="csLoading" class="loding-layer"><span class="g-loading"></span><span class="loading-text">正在加载中…</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
        <div class="sidecategory">
            <h2><span></span><a data-code="1000036957" href="javascript:;" target="_blank">全部商品分类</a></h2>
            <div id="navBox" class='lisnav'>
                <div class="lisbg"></div>
                <ul class="lisnav-ul" id="lisnav">
                    <li class="first edit-mode nav-item" data-index="0" modeltype="4" modelid="1000037040">
                        <h3>
                            <a data-code="1000037040-0" href="javascript:;" target="_blank">手机</a>
                            <a data-code="1000037040-1" href="javascript:;" target="_blank">充值</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="1" modeltype="4" modelid="1000037283">
                        <h3>
                            <a data-code="1000037283-0" href="javascript:;" target="_blank">相机</a>
                            <a data-code="1000037283-1" href="javascript:;" target="_blank">智能数码</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="2" modeltype="4" modelid="1000037067">
                        <h3>
                            <a data-code="1000037067-0" href="javascript:;" target="_blank">电脑</a>
                            <a data-code="1000037067-1" href="javascript:;" target="_blank">办公配件</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="3" modeltype="4" modelid="1000036959">
                        <h3>
                            <a data-code="1000036959-0" href="javascript:;" target="_blank">电视 影音</a>
                            <a data-code="1000036959-1" href="javascript:;" target="_blank">智能</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="4" modeltype="4" modelid="1000036986">
                        <h3>
                            <a data-code="1000036986-0" href="javascript:;" target="_blank">空调</a>
                            <a data-code="1000036986-1" href="javascript:;" target="_blank">冰箱</a>
                            <a data-code="1000036986-2" href="javascript:;" target="_blank">洗衣机</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="5" modeltype="4" modelid="1000037013">
                        <h3>
                            <a data-code="1000037013-0" href="javascript:;" target="_blank">厨房卫浴</a>
                            <a data-code="1000037013-1" href="javascript:;" target="_blank">生活电器</a>
                            <a data-code="1000037013-2" href="javascript:;" target="_blank">环境</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="6" modeltype="4" modelid="1000037094">
                        <h3>
                            <a data-code="1000037094-0" href="javascript:;" target="_blank">家具</a>
                            <a data-code="1000037094-1" href="javascript:;" target="_blank">建材</a>
                            <a data-code="1000037094-2" href="javascript:;" target="_blank">欧洲厨房</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="7" modeltype="4" modelid="1000037121">
                        <h3>
                            <a data-code="1000037121-0" href="javascript:;" target="_blank">家居家纺</a>
                            <a data-code="1000037121-1" href="javascript:;" target="_blank">家居家装</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="8" modeltype="4" modelid="1000037148">
                        <h3>
                            <a data-code="1000037148-0" href="javascript:;" target="_blank">食品酒水</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="9" modeltype="4" modelid="1000037310">
                        <h3>
                            <a data-code="1000037310-0" href="javascript:;" target="_blank">母婴玩具</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="10" modeltype="4" modelid="1000037175">
                        <h3>
                            <a data-code="1000037175-0" href="javascript:;" target="_blank">美妆个护</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="11" modeltype="4" modelid="1000037202">
                        <h3>
                            <a data-code="1000037202-0" href="javascript:;" target="_blank">服饰鞋帽</a>
                            <a data-code="1000037202-1" href="javascript:;" target="_blank">箱包奢品</a>
                            <p class="line"></p>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="12" modeltype="4" modelid="1000037229">
                        <h3>
                            <a data-code="1000037229-0" href="javascript:;" target="_blank">运动户外</a>
                            <a data-code="1000037229-1" href="javascript:;" target="_blank">钟表首饰</a>
                        </h3>
                    </li>
                    <li class="edit-mode nav-item" data-index="13" modeltype="4" modelid="1000037256">
                        <h3>
                            <a data-code="1000037256-0" href="javascript:;" target="_blank">汽车整车</a>
                            <a data-code="1000037256-1" href="javascript:;" target="_blank">汽车用品</a>
                        </h3>
                    </li>
                    <li class="lst edit-mode nav-item" data-index="14" modeltype="4" modelid="1000037337">
                        <h3>
                            <a data-code="1000037337-0" href="javascript:;" target="_blank">国美管家</a>
                        </h3>
                    </li>
                </ul>
                <div class="subnav" id="subnav" flag="0">
                    <div class="loading1-sync" id="loading1-sync">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mainnav">
            <li><a data-code="public04001" href="javascript:;" target="_blank"><span>首页</span></a></li>
            <li><a class="" data-code="1000000378-1" href="javascript:;" target="_blank"><span>发现</span></a></li>
            <li><a class="" data-code="1000000378-2" href="javascript:;" target="_blank"><span>真划算</span></a><span
                    class="tag_line"></span></li>
            <li><a class="" data-code="1000000378-3" href="javascript:;" target="_blank"><span>超市</span></a></li>
            <li><a class="" data-code="1000000378-4" href="javascript:;" target="_blank"><span>电器城</span></a></li>
            <li><a class="" data-code="1000000378-5" href="javascript:;" target="_blank"><span>汽车</span></a></li>
            <li><a class="" data-code="1000000378-6" href="javascript:;" target="_blank"><span>家居家装</span></a><span
                    class="tag_line"></span></li>
            <li><a class="" data-code="1000000378-7" href="javascript:;" target="_blank"><span>智能</span></a></li>
            <li><a class="" data-code="1000000378-8" href="javascript:;" target="_blank"><span>管家</span></a></li>
        </ul>
        <!--nav-->
        <div class="hdrsideRoll">
        </div>
        <!--scroll-->
    </div>
</div>
<!--category-->
<!--head-->
<div class="clearfix template-html">
    <div class="gome-cms-floor" data-rowid="673522" lazy-id="F0">
        <div class="gome-cms-floor-inner" style="width:1200px;">
            <style>
                .bg_grey .coupon_wbox_img .coupon_wbox_red_s_img {
                    width: 142px;
                }
            </style>
            <div class="bg_grey quancenter" data-code-id="3771399057347635">
                <div class="wbox">
                    <h1>新用户专享</h1>
                    <div class="coupon_wbox_img">
                        <div class="product-waiting" id="product-waiting" style="display: none;"></div>
                        <ul>
                            <li class="coupon_wbox_bg hq_blue" data-quanid="fc86bd2104ac469aaff4d07d9e9b940d"
                                data-coupontype="blue" data-couponrule="P16376039">
                                <div class="coupon_wbox_red_s_img"><img
                                        src="//gfs13.gomein.net.cn/T1aNKXBjhT1RCvBVdK.jpg"
                                        style="width:140px; height:140px; margin-top: 0px; display: block;"></div>
                                <div class="coupon_wbox_s_content">
                                    <div class="coupon_wbox_price">￥<span>200.</span>00</div>
                                    <div class="coupon_wbox_txt"><p class="coupon_wbox_t_txt t_txt_color"><span
                                            class="hq_name">【线上专享】</span>消费满2588.00元可用</p>
                                        <p class="b_txt_color" title="厨房卫浴满2588减200">厨房卫浴满2588减200</p></div>
                                    <!--该div无实际用处,只用于页面美观-->
                                    <div class="coupon_wbox_content_line"></div>
                                </div>
                                <a class="coupon_bg_img"> <i class="red_coupon_bg_txt">立即领券</i> </a>
                            </li>
                            <li class="coupon_wbox_bg hq_blue" data-quanid="731e37727fb7400da8625f147f672517"
                                data-coupontype="blue" data-couponrule="P16409685">
                                <div class="coupon_wbox_red_s_img"><img
                                        src="//gfs13.gomein.net.cn/T1fIKXBmxv1RCvBVdK.jpg"
                                        style="width:140px; height:140px; margin-top: 0px; display: block;"></div>
                                <div class="coupon_wbox_s_content">
                                    <div class="coupon_wbox_price">￥<span>300.</span>00</div>
                                    <div class="coupon_wbox_txt"><p class="coupon_wbox_t_txt t_txt_color"><span
                                            class="hq_name">【线上专享】</span>消费满2798.00元可用</p>
                                        <p class="b_txt_color" title="vivo指定型号满2798减300">vivo指定型号满2798减300</p></div>
                                    <!--该div无实际用处,只用于页面美观-->
                                    <div class="coupon_wbox_content_line"></div>
                                </div>
                                <a class="coupon_bg_img"> <i class="red_coupon_bg_txt">立即领券</i> </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 校验码 -->
        </div>
    </div>
    <div class="gome-cms-floor" data-rowid="151062" lazy-id="F1">
        <div class="gome-cms-floor-inner" style="width:1200px;">
            <div class="bg_white">
                <div class="wbox cMarket">
                    <div class="cM_herder clearfix">
                        <h2 class="cM_tit">领券集市</h2>
                        <p class="cM_navOne"><a href="javascript:;" data-value="0" class="active">全部商品</a> <a
                                href="javascript:;" data-value="1">彩电</a> <a href="javascript:;" data-value="2">冰洗</a>
                            <a href="javascript:;" data-value="3">空调</a> <a href="javascript:;" data-value="4">手机</a> <a
                                    href="javascript:;" data-value="5">电脑</a> <a href="javascript:;"
                                                                                 data-value="7">厨卫</a> <a
                                    href="javascript:;" data-value="8">小家电</a></p>
                    </div>
                    <div class="cM_navTwo">
                        <div class="cM_Type">
                            <a href="javascript:;" data-value="0" class="sort active">默认</a>
                            <a href="javascript:;" data-value="1" class="sort">即将过期</a>
                            <a href="javascript:;" data-value="2" class="sort">面值最大</a>
                            <a href="javascript:;" data-value="99" class="type active" style="display:none">全部类型</a>
                        </div>
                    </div>
                    <!----->
                    <div class="cM_couponWrap">
                        <div class="product-waiting" id="product-waiting" style="display: none;"></div>
                        <ul class="cM_coupon clearfix">
                            <li data-quanid="fc86bd2104ac469aaff4d07d9e9b940d" data-coupontype="blue" data-bustype=""
                                data-couponrule="P16376039">
                                <div class="cMc_style cmblue_bg">
                                    <div class="cMPrice"><em>¥</em> <strong>700.</strong> <span>00</span></div>
                                    <p class="cMInfo"><em>【线上专享】</em>满2588.00可用 </p>
                                    <p class="cMTime">2019.8.27 - 2019.9.1</p></div>
                                <div class="cM_text"><p
                                        style="padding:10px 20px 0px 18px;height:50px;white-space:inherit;text-overflow:inherit"
                                        title="厨房卫浴满2588减200">使用范围：厨房卫浴满2588减200</p>                               <a
                                        href="javascript:;">立即领券</a>
                                </div>
                                <div class="coupon_wbox_content_line" style="margin-left: 17px;margin-top: 6px">
                                    <div class="line">
                                        <b class="red_line" style="width: 3px;"></b>
                                    </div>
                                    <div class="red_line_r">剩余98.34%</div>
                                </div>
                            </li>
                            <li data-quanid="1e681a3b68384f9a89d2ad5efa65af63" data-coupontype="blue" data-bustype=""
                                data-couponrule="P16351668">
                                <div class="cMc_style cmblue_bg cmgray_bg">
                                    <div class="cMPrice"><em>¥</em> <strong>30.</strong> <span>00</span></div>
                                    <p class="cMInfo"><em>【线上专享】</em>满100.00可用 </p>
                                    <p class="cMTime">2019.8.16 - 2019.8.31</p></div>
                                <div class="cM_text"><p
                                        style="padding:10px 20px 0px 18px;height:50px;white-space:inherit;text-overflow:inherit"
                                        title="仅自营冰箱洗衣机app端指定商品可用">使用范围：仅自营冰箱洗衣机app端指定商品可用</p>
                                    <a href="javascript:;">立即领券</a></div>
                                <div class="broughtout"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wbox clearfix">
                    <div class="wbox clearfix">
                        <div class="pager" id="pager"></div>
                    </div>
                </div>
            </div>
            <!-- 校验码 -->
        </div>
    </div>
    <style> .template-html {
        background-color: transparent;
    }

    [data-code-id="3771399057347635"] {
        background-color: transparent;
    } </style>
</div>
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-pz"></i>品质</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">正品行货 购物无忧</a></li>
        <li><a data-code="1000043126-1" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-dj"></i>低价</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">普惠实价 帮你省钱</a></li>
        <li><a data-code="1000043126-2" href="javascript:;" target="_blank" rel="nofollow"><i class="icon-sd"></i>速达</a><span
                class="foot-titlt-dot"></span><a href="javascript:;" class="sec-title">专业配送 按时按需</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043252-0" href="javascript:;" target="_blank" rel="nofollow">配送查询</a></li>
                    <li><a data-code="1000043252-1" href="javascript:;" target="_blank" rel="nofollow">配送服务</a></li>
                    <li><a data-code="1000043252-2" href="javascript:;" target="_blank" rel="nofollow">配送费用</a></li>
                    <li><a data-code="1000043252-3" href="javascript:;" target="_blank" rel="nofollow">配送时效</a></li>
                    <li><a data-code="1000043252-4" href="javascript:;" target="_blank" rel="nofollow">签收与验货</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>支付与账户</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043266-0" href="javascript:;" target="_blank" rel="nofollow">货到付款</a></li>
                    <li><a data-code="1000043266-1" href="javascript:;" target="_blank" rel="nofollow">在线支付</a></li>
                    <li><a data-code="1000043266-2" href="javascript:;" target="_blank" rel="nofollow">分期付款</a></li>
                    <li><a data-code="1000043266-3" href="javascript:;" target="_blank" rel="nofollow">门店支付</a></li>
                    <li><a data-code="1000043266-4" href="javascript:;" target="_blank" rel="nofollow">发票制度</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043269-0" href="javascript:;" target="_blank" rel="nofollow">退换货服务</a></li>
                    <li><a data-code="1000043269-1" href="javascript:;" target="_blank" rel="nofollow">退款说明</a></li>
                    <li><a data-code="1000043269-2" href="javascript:;" target="_blank" rel="nofollow">专业维修</a></li>
                    <li><a data-code="1000043269-3" href="javascript:;" target="_blank" rel="nofollow">延保服务</a></li>
                    <li><a data-code="1000043269-4" href="javascript:;" target="_blank" rel="nofollow">家电回收</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043272-0" href="javascript:;" target="_blank" rel="nofollow">会员介绍</a></li>
                    <li><a data-code="1000043272-1" href="javascript:;" target="_blank" rel="nofollow">优惠券说明</a></li>
                    <li><a data-code="1000043272-2" href="javascript:;" target="_blank" rel="nofollow">美豆说明</a></li>
                    <li><a data-code="1000043272-3" href="javascript:;" target="_blank" rel="nofollow">商品评价</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd>
                <ul>
                    <li><a data-code="1000043275-0" href="javascript:;" target="_blank" rel="nofollow">购物保障</a></li>
                    <li><a data-code="1000043275-1" href="javascript:;" target="_blank" rel="nofollow">购物流程</a></li>
                    <li><a data-code="1000043275-2" href="javascript:;" target="_blank" rel="nofollow">促销优惠</a></li>
                    <li><a data-code="1000043275-3" href="javascript:;" target="_blank" rel="nofollow">焦点问题</a></li>
                    <li><a data-code="1000043275-4" href="javascript:;" target="_blank" rel="nofollow">联系我们</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="javascript:;" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="javascript:;" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="picture/grey.gif" gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="picture/grey.gif" gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i
                        class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="javascript:;" target="_blank"><img
                            src="static/picture/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="javascript:;" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="javascript:;" target="_blank">国美管家</a></li>
            <li><a data-code="1000043124-2" href="javascript:;" target="_blank">关于国美</a></li>
            <li><a data-code="1000043124-3" href="javascript:;" target="_blank">加入我们</a></li>
            <li>|</li>
            <li><a data-code="1000043124-4" href="javascript:;" target="_blank">品牌大全</a></li>
            <li><a data-code="1000043124-5" href="javascript:;" target="_blank">商品专题</a></li>
            <li><a data-code="1000043124-6" href="javascript:;" target="_blank">商品词</a></li>
            <li><a data-code="1000043124-7" href="javascript:;" target="_blank">热词搜索</a></li>
            <li><a data-code="1000043124-8" href="javascript:;" target="_blank">友情链接</a></li>
            <li><a data-code="1000043124-9" href="javascript:;" target="_blank">风险监测</a></li>
            <li>|</li>
            <li><a data-code="1000043124-10" href="javascript:;" target="_blank">销售联盟</a></li>
            <li><a data-code="1000043124-11" href="javascript:;" target="_blank">商家入驻</a></li>
            <li><a data-code="1000043124-12" href="javascript:;" target="_blank">广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="javascript:;"
                                                                                 target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a>
        </p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">沪ICP备11009419号/京ICP备
            19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="javascript:;" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug"
                                                                                             href="javascript:;"
                                                                                             target="_blank">营业执照</a>&nbsp;&nbsp;<a
                class="interDrug" href="javascript:;" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="javascript:;"
                                                                target="_blank"><i class="tw-w-mark-icon"></i>京公网安备
            11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="javascript:;" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<!--aside-->
<script type="text/javascript" src="js/juan/Js1.js"></script>
<script type="text/javascript" src="js/juan/Js.js"></script>
<script src="js/juan/201908211806gmlibseaseajs3.0.0se.js"></script>

<script>
    $("[lazy-id='F0'],[lazy-id='F1']").lazyload({source: "data-lazy-img"});
    seajs.use(["gmlib/unit/scode/1.0.0/scode.min.js", "gmlib/unit/bigdata/1.0.0/bigdata.min.js", "gmlib/unit/scodecommon/1.0.0/scodecommon.min.js"], function () {
        s.pageName = "商品列表:";
        s.channel = "商品列表";
        s.prop1 = "商品列表:";
        s.prop2 = "商品列表:";
        s.prop3 = "商品列表:";
        s.prop4 = "商品列表";
        s.eVar3 = "分类浏览";
        var s_code = s.t();
        if (s_code) {
            document.write(s_code);
        }
    });
</script>
<script>

</script>
</body>
</html>