
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我的礼包-国美</title>
    <meta name="description" content="我的国美，会员俱乐部，我的礼包">
    <meta name="Keywords" content="我的国美，会员俱乐部，我的礼包">
    <meta name="data-code" content="sy">
    <!-- 启用360浏览器的极速模式(webkit)-->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta property="qc:admins" content="2500556177677556375636"/>
    <meta name="applicable-device" content="pc">
    <link rel="shortcut icon" href="//app.gomein.net.cn/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">var dynSite='//g.gome.com.cn',staSite='//www.gome.com.cn',gomeplusDomain='.gome.com.cn',contextPath='/ec/homeus',cookieDomain='.gome.com.cn',imgServer='//app.gomein.net.cn/images',stageJsServer='//js.gomein.net.cn',stageImageServer='//img.gomein.net.cn',stageCssServer='//css.gomein.net.cn',gomeplusCdn='//js.meixincdn.com/m/pc/',versionData='1908290545';</script>
    <script type="text/javascript">var gfeJsCdn="//js.gomein.net.cn",gfeCssCdn="//css.gomein.net.cn",gfeProjectPath="/gmpro/2.0.0/memberClub/1.2.2";</script>
    <link rel="stylesheet"  href="//css.gomein.net.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/cart/1.0.0/css/headCart.min.css,gmpro/1.0.0/public/member/css/memberHead.css,gmpro/1.0.0/public/1.0.0/css/foot.min.css,gmpro/1.0.0/public/1.0.0/css/aside.min.css?v=201908291743,gmpro/2.0.0/memberClub/1.2.2/css/libao/member-gifeBag.css">

</head>
<!-- 返利的导航 -->
<!--头部end-->
<!--newads-->
<!--newads-->
<div class="gome-top">
    <div id="gome-top-body" class="wbox">
        <ul>
            <li id="gome-entry-link">
                <a data-code="public01001" href="index.html" target="_blank"><i
                        class="icon-gome-logo"></i>国美首页</a></li>
            <li class="gome-spacer"></li>
            <li id="gome-user" data-load="user" class="" data-open="true">
                <b id="loginDiv-name">Hi,&nbsp;<a data-code="public01054"
                                                  href="vip_club.html"
                                                  target="_blank"><span
                        class="sign-top-member-name">LOgo&nbsp;</span><em class="level-g1"></em><i></i></a></b>
                <div class="public-dropdown" style="height: 0px;">
                    <div id="user-name">
                        <a data-code="public01048" href="" target="_blank"><i class="no-bg"><img
                                src="//gfs8.gomein.net.cn/T1EIKXB4Zv1RCvBVdK.jpg"></i></a>
                        <div>
                            <p><strong><a data-code="public01036" href=""
                                          target="_blank">LOgo</a></strong><em>G1</em></p>
                            <a data-code="public01047" href="" target="_blank">
                                <p id="gradeup-amount" class="user-name-level"><span style="width: 100%;"></span><sup>85/0</sup>
                                </p>
                                <p id="gradeup-tips">升级到G2还需
                                    <ins>1</ins>
                                    个购物天数
                                </p>
                            </a></div>
                    </div>
                </div>
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a rel="nofollow" data-code="public01035" class="gome-link-logout" href="">退出</a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link"><a rel="nofollow" data-code="public01004" href="#">我的订单</a>
            </li>
            <li id="gome-mygome" data-load="mygome">
                <b><a rel="nofollow" data-code="public01050" href="#"
                      target="_blank">我的国美</a><i></i></b>
                <div class="public-dropdown" style="height: 0px;">
                    <strong>我的国美，<a rel="nofollow" data-code="public01012"
                                    href="gm-login.html">请登录！</a></strong>
                    <ul id="mygome-order">
                        <li><a data-code="public01013" href="gm-myOrder.html"
                               target="_blank">待处理订单</a>
                            <ins id="waitPay"></ins>
                        </li>
                        <li><a data-code="public01014" href="gm-shoucang.html" target="_blank">我的收藏</a>
                        </li>
                        <li><a data-code="public01016" href="profile.html"
                               target="_blank">个人资料</a></li>
                        <li><a data-code="public01060" href="#" target="_blank">我的美店</a></li>
                    </ul>
                    <ul id="mygome-coupon">
                        <li>
                            <a data-code="public01061" href="gomeMyCoupon.html" target="_blank">我的优惠券</a>
                            <ins id="twMyCoupon">-</ins>
                        </li>

                    </ul>
                    <p>足迹</p>
                    <ul id="mygome-track">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-enterprise" class="drop">
                <b><a rel="nofollow" data-code="public01055" href="#" target="_blank">企业采购</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="#" target="_blank"></a>
                </div>
            </li>
            <li id="gome-service" class="drop" data-load="service">
                <b><em class="gm-icon">&#x0066;</em><a data-code="public01052" rel="nofollow" href="#"
                                                       target="_blank">服务中心</a><i></i></b>
                <div class="public-dropdown">
                    <p><a href="#" target="_blank" rel="nofollow">用户服务</a></p>
                    <ul>
                        <li><a data-code="public01023" href="#" target="_blank" rel="nofollow">售后服务</a>
                        </li>
                        <li><a data-code="public01024" href="#" target="_blank" rel="nofollow">帮助服务</a>
                        </li>
                        <li><a data-code="public01025" href="#" target="_blank" rel="nofollow">新手指南</a>
                        </li>
                        <li><a data-code="public01026" href="#" target="_blank" rel="nofollow">客服服务</a>
                        </li>
                        <li><a data-code="public01027" href="#" target="_blank"
                               rel="nofollow">用户注销</a></li>
                    </ul>
                    <p><a href="#" target="_blank" rel="nofollow">商家服务</a></p>
                    <ul>
                        <li><a data-code="public01029" href="#" target="_blank" rel="nofollow">商家入驻</a>
                        </li>
                        <li><a data-code="public01031" href="#" target="_blank" rel="nofollow">商家登录</a>
                        </li>
                        <li><a data-code="public01032" href="#" target="_blank"
                               rel="nofollow">广告平台</a></li>
                        <li><a data-code="public01033" href="#" target="_blank"
                               rel="nofollow">平台规则</a></li>
                        <li><a data-code="public01034" href="#" target="_blank" rel="nofollow">商家培训</a>
                        </li>
                    </ul>
                    <a class="live800-service" customer-entry="composite" customer-service-button-id="" orgi="111111"
                       orgitype="1"><em class="gm-icon">f</em>在线客服</a>
                    <span><em></em>4008-708-708<ins>(9:00-21:00)</ins></span></div>
            </li>
            <li id="gome-sitemap" class="drop" data-type="a30" data-load="sitemap">
                <b><a rel="nofollow" data-code="public01060" href="//sitemap.gome.com.cn/"
                      target="_blank">网站导航</a><i></i></b>
                <div class="public-dropdown">
                    <dl class="none">
                        <dt>主题促销</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043234-0" href="car_succeed.html" target="_blank">真划算</a></li>
                                <li><a data-code="1000043234-1" href="//q.gome.com.cn/" target="_blank">抢购</a></li>
                                <li><a data-code="1000043234-2" href="//www.gomehome.com/?intcmp=sy-1000037121-2"
                                       target="_blank">美家致选</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043236-0" href="//jiadian.gome.com.cn/" target="_blank">家电城</a>
                                </li>
                                <li><a data-code="1000043236-1" href="//fashion.gome.com.cn/" target="_blank">服饰城</a>
                                </li>
                                <li><a data-code="1000043236-2" href="//market.gome.com.cn/" target="_blank">国美超市</a>
                                </li>
                                <li><a data-code="1000043236-3" href="//tehui.gome.com.cn/" target="_blank">品牌街</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043238-0" href="//smart.gome.com.cn/" target="_blank">智能</a></li>
                                <li><a data-code="1000043238-1" href="//www.gome.com.cn/bestGome.html" target="_blank">今日特卖</a><i
                                        class="hot"></i></li>
                                <li><a data-code="1000043238-2" href="//new.gome.com.cn/" target="_blank">新品抢先</a></li>
                                <li><a data-code="1000043238-3" href="//homes.gome.com.cn/?intcmp=sy-1000000378-8"
                                       target="_blank">家居家装</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>特色分类</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043241-0" href="//electronic.gome.com.cn/"
                                       target="_blank">电视影音</a></li>
                                <li><a data-code="1000043241-1" href="//bx.gome.com.cn/" target="_blank">冰洗</a></li>
                                <li><a data-code="1000043241-2" href="//xyj.gome.com.cn/" target="_blank">洗衣机</a></li>
                                <li><a data-code="1000043241-3" href="//kt.gome.com.cn/" target="_blank">空调</a></li>
                                <li><a data-code="1000043241-4" href="//life.gome.com.cn/" target="_blank">厨卫生活</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043243-0" href="//tongxun.gome.com.cn/" target="_blank">手机</a>
                                </li>
                                <li><a data-code="1000043243-1" href="//digital.gome.com.cn/" target="_blank">数码</a>
                                </li>
                                <li><a data-code="1000043243-2" href="//computer.gome.com.cn/" target="_blank">电脑办公</a>
                                </li>
                                <li><a data-code="1000043243-3" href="//peijian.gome.com.cn/" target="_blank">精品配件</a>
                                </li>
                                <li><a data-code="1000043243-4" href="//auto.gome.com.cn/" target="_blank">汽车</a></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043245-0" href="//furnit.gome.com.cn/" target="_blank">住宅家具</a>
                                </li>
                                <li><a data-code="1000043245-1" href="//decoration.gome.com.cn/"
                                       target="_blank">家装建材</a></li>
                                <li><a data-code="1000043245-2" href="//jiaju.gome.com.cn/" target="_blank">家居日用</a>
                                </li>
                                <li><a data-code="1000043245-3" href="//jiafang.gome.com.cn/" target="_blank">床品家纺</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043247-0" href="//clothing.gome.com.cn/" target="_blank">服饰鞋帽</a>
                                </li>
                                <li><a data-code="1000043247-1" href="//toysgifts.gome.com.cn/" target="_blank">运动户外</a>
                                </li>
                                <li><a data-code="1000043247-2" href="//luxury.gome.com.cn/" target="_blank">箱包奢品</a>
                                </li>
                                <li><a data-code="1000043247-3" href="//watch.gome.com.cn/" target="_blank">钟表首饰</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043249-0" href="//alcohol.gome.com.cn/" target="_blank">食品酒水</a>
                                </li>
                                <li><a data-code="1000043249-1" href="//baby.gome.com.cn/" target="_blank">母婴玩具</a></li>
                                <li><a data-code="1000043249-2" href="//beauty.gome.com.cn/" target="_blank">美妆个护</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>便捷服务</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043255-0" href="recharge.html"
                                       target="_blank">话费充值</a></li>
                                <li><a data-code="1000043255-1" href="//meidian.gome.com.cn" target="_blank">美店</a><i
                                        class="new"></i></li>
                            </ul>
                            <ul>
                                <li><a data-code="1000043257-0" href="flowindex.html"
                                       target="_blank">流量充值</a></li>
                                <li><a data-code="1000043257-1" href="//mall.gome.com.cn/80011410"
                                       target="_blank">上门服务</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>更多热点</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043260-0" href="//www.gome.com.cn/jiameng"
                                       target="_blank">加盟国美</a></li>
                                <li><a data-code="1000043260-1" href="//www.gome.com.cn/join/" target="_blank">商家入驻</a>
                                </li>
                                <li><a data-code="1000043260-2" href="//b.gome.com.cn/" target="_blank">企业采购</a><i
                                        class="hot"></i></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>国美旗下</dt>
                        <dd>
                            <ul>
                                <li><a data-code="1000043263-0" href="//www.gomegj.com/" target="_blank">国美管家</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <!--sitemap--></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-phone" class="drop">
                <b><em class="gm-icon">&#x00E1;</em><a data-code="public01049" rel="nofollow"
                                                       href="//shouji.gome.com.cn/" target="_blank">手机国美</a><i></i></b>
                <div class="public-dropdown">
                    <a class="gome-qrcode" data-code="public01005" href="//shouji.gome.com.cn/" target="_blank"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--gome_top-->
<div class="main_header">
    <div class="ucGomeTopic">
        <div class="wbox headBox">
            <div class="myhomeLogo"></div>
            <ul class="gomeNav clearfix">
                <li class="curArrow gomeNavList">
                    <a class="bgColor" href="">首页</a></li>
                <li class="w107 gomeNavList">
                    <a href="javascript:;">账户设置<i></i></a>
                    <ul class="navList w105">
                        <li><a href="">帐户安全</a></li>
                        <li><a href="">基本资料</a></li>
                        <li><a href="">收货地址</a></li>
                        <li><a href="">增票认证</a></li>
                        <li><a href="">我的会员卡</a></li>
                        <li><a href="">账号绑定</a></li>
                    </ul>
                </li>
                <li class="w125 gomeNavList">
                    <a href="javascript:;" class="club">会员俱乐部<i></i></a>
                    <ul class="navList w123">
                        <li><a href="vip_club.html">会员俱乐部</a></li>
                        <li><a href="vipLevel.html">会员等级</a></li>
                        <li><a href="">会员权益</a></li>
                        <li><a href="" data-code="clubdh-libao">我的礼包</a></li>
                    </ul>
                </li>
                <li class="w107 gomeNavList community ">
                    <a href="javascript:;">社区<i></i></a>
                    <ul class="navList w105">
                        <li><a href="" target="_blank">我的圈子</a></li>
                        <li><a href="" target="_blank">我的话题</a></li>
                    </ul>
                </li>
            </ul>
            <div class="gomeTopRight">
                <div class="top_earch clearfix">
                    <form id="searchForm" method="get" action="#"
                          onsubmit="return keyCheck();">
                        <label id="keyLabel" class="topOvertips" style="display:block;" default=""></label>
                        <input type="text" id="searchInput" name="question" class="searchInput" value=""
                               autocomplete="off"
                               onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                        <button class="searchBtn" onclick="doSearch();"></button>
                    </form>
                </div>
                <!--搜索结束-->
                <!--搜索弹框-->
                <div class="searchtips" id="searchTips" style="display:none;">
                    <ul class="searchabout j-hover clearfix" id="searchTipsList"></ul>
                </div>
                <!--min 购物车-->
                <div class="shopcartbox">
                    <a rel="nofollow" class="shopinglist ucCart" target="_blank" id="a">
                        <em>购物车</em><span>1</span>件<i></i>
                    </a>
                    <!--隐藏的迷你购物车列表-->
                    <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                        <div class="mini-products"><h2 class="hdrcartitle">最近加入的商品：</h2>
                            <ul class="mini-nProductLists">
                                <li class="mini-list clearfix">
                                    <dl class="nProduct-huod realMini">
                                        <dd class="mini-huod-list min-sideline-list clearfix">
                                            <div class="mini-product-info clearfix">
                                                <div class="mini-pCol-img">
                                                    <a style="position: relative;" target="_blank"
                                                       title="咏竹缘竹纤维大毛巾 福利毛巾 成人毛巾  柔软 竹纤维毛巾礼品"
                                                       href="product_details.html">
                                                        <img alt=""
                                                             src="//gfs17.gomein.net.cn/T1vAY_B4Dv1RCvBVdK_80.jpg"
                                                             width="50" height="50"></a></div>
                                                <div class="mini-pCol-name"><p><a target="_blank" class="nMinCartBlue"
                                                                                  title="咏竹缘竹纤维大毛巾 福利毛巾 成人毛巾  柔软 竹纤维毛巾礼品"
                                                                                  href="product_details.html">咏竹缘竹纤维大毛巾
                                                    福利毛巾 成人毛巾 柔软 竹纤维毛巾礼品...</a></p></div>
                                                <div class="mini-pCol-row"><span class="yuan"><b>¥20.80</b></span> <span
                                                        class="quantity">2</span> <span isclick="" mcart-count=""
                                                                                        mcart-count-min="1"
                                                                                        mcart-count-change-interval="100"
                                                                                        mcart-change-count=""
                                                                                        data-cid="5472195259"
                                                                                        data-limit="99"
                                                                                        class="mcart-count">                                                            <a
                                                        href="javascript:;" type="down" mcart-count-sub=""
                                                        class="mcart-count-btn mcart-count-sub   ">-</a>                                                            <a
                                                        href="javascript:;" type="up" mcart-count-add=""
                                                        class="   mcart-count-btn mcart-count-add  ">+</a>                                                            <div
                                                        class="mcart-count-input"><input maxlength="3" name="num"
                                                                                         type="text" value="2">                                                            </div>                                                    </span>
                                                    <a class="nLowLeight miniDel" href="javascript:void(0)" title="删除"
                                                       data-itemid="5472195259">删除</a></div>
                                            </div>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                            <div id="atg_store_csFooter1" class="cartfooter"><h4> 已选 <i><span
                                    id="csQuantity">5</span></i> 件 ，共计： <strong><span
                                    id="csSubtotal">¥</span>495.60</strong></h4>
                                <a data-code="cart01002" id="csCheckout" style="text-decoration:none;" class="gocart"
                                   href="car.html" title="去购物车"> <span>去购物车</span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--gome_head -->
<!--head-->
<body class="memberGift ptrt">
<div id="delscript">
    <script type="text/javascript">
        var winWidth = window.screen.width,objb = document.body;if (winWidth<=1024) {objb.className += " " +"w1000"; }else {objb.className=objb.className.replace("w1000", '');};
    </script>
</div>
<script type="text/javascript">
    var pageName="用户中心:会员俱乐部-我的国美",
        prop="用户中心",
        flag=2;
</script>

<div class="nWarp">
    <div class="members-title"><a>我的国美&nbsp;</a><i>&gt;</i>
        <h4>我的礼包</h4>
    </div>
    <div class="member-cont">
        <div class="gife-header">
            <div class="userInfor Logiin" style="display: block">
                <div class="fl">
                    <img class="fl member_headimg" src="//gfs14.gomein.net.cn/T1YvKTBsDv1RCvBVdK.png" alt="头像" width="100px;" height="100px;" />
                </div>
                <div class="fl infor_r">
                    <p class="userName">亲爱的会员，<span class="title">gm_17608470615</span><span class="level">G1</span></p>
                    <p class="giftNum_out">当前您可领取礼包数：<span class="giftNum">0</span></p>
                </div>
            </div>
            <div class="userInfor Logiin">
                <div class="fl">
                    <img class="fl member_headimg" src="//gfs14.gomein.net.cn/T1YvKTBsDv1RCvBVdK.png" alt="头像" width="100px;" height="100px;" />
                </div>
                <div class="fl infor_r">
                    <p class="userName">亲爱的会员，<span class="title"></span><span class="level"></span></p>
                    <p  class="giftNum_out">当前您可领取礼包数：<span class="giftNum"></span></p>
                </div>
            </div>
        </div>
        <!-- 可领取 -->
        <div class="gife-middle">
            <ul class="ul-gife-middle clearfix">
            </ul>
        </div>
        <div class="middle-divasion">
            <div class="middle-dashed"></div>
            <div class="middle-divasion-text"></div>
            <p>暂只保留最近已领取／已过期的纪录。礼包中优惠券详情，可前往
                <a data-code="libao-yhq" class="m_coupon">我的优惠券</a>
                <span>／</span>
                <a data-code="libao-md" class="m_bean">我的美豆</a>查看
            </p>
        </div>
        <!-- 已领取 已过期 -->
        <div class="exclusive-gift">
            <ul class="clearfix box-width">
            <li id="li" class="fl ptrt li-exclusive-gift" title="" typenumber="1" typeuserid="4516652" typeid="1029016" typename="8月 新人组合券" typestatus="12" isshow="true" style="">
                <div class="exclusive-gift-bg">
                    <span class="overdue-img"></span>
                    <div class="exclusive-gift-text clearfix">
                        <img class="fl" src="//gfs11.gomein.net.cn/T14fYgBvxT1RCvBVdK.png">
                        <div class="exclusive-gift-text-right fl">
                            <div class="exclusive-gift-text-right-text">8月 新人组合券</div>
                            <p>8月 新人260元礼包券</p>
                        </div>
                    </div>
                    <div class="ptab down">
                        <div class="exclusive-gift-time">2019.08.23.15:13</div>
                        <div class="exclusive-gift-key"><span class="turn-down"></span></div>
                    </div>
                </div>
                <div class="gift-introduction ptab" id="info" style="display: none;">
                    <p class="li-gift-introduction">红券: 10元&nbsp;&nbsp;新人券，全场自营满49元可用（特例品除外）</p>
                    <p class="li-gift-introduction">蓝券: 5元&nbsp;&nbsp;7月生活家电新人专享礼包券</p>
                    <p class="li-gift-introduction">蓝券: 5元&nbsp;&nbsp;数码新人礼包券</p>
                    <p class="li-gift-introduction">蓝券: 10元&nbsp;&nbsp;自营手机满100元使用（新人礼包）</p>
                    <p class="li-gift-introduction">蓝券: 30元&nbsp;&nbsp;限自营空调可用</p>
                    <p class="li-gift-introduction">蓝券: 50元&nbsp;&nbsp;自营冰箱洗衣机可用</p>
                    <p class="li-gift-introduction">蓝券: 50元&nbsp;&nbsp;限自营彩电部分型号使用</p>
                    <p class="li-gift-introduction">蓝券: 50元&nbsp;&nbsp;自营电脑满1000元使用（特例品不参加）</p>
                    <p class="li-gift-introduction">蓝券: 50元&nbsp;&nbsp;厨房卫浴50元新人礼包券</p>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>
<div class="ce-dialog">
    <!-- <div class="safety-dask"></div> -->
    <div class="safety-dialog-true remind">
        <i class="close"></i>
        <p>您的礼包已领取成功！</p>
        <a href="javascript:void(0);" class="safety-btn">知道了</a>
    </div>
    <div class="safety-dialog-false remind">
        <i class="close"></i>
        <p>很抱歉亲，系统开小差了！请您稍后再试~</p>
        <a href="javascript:void(0);" class="safety-btn">知道了</a>
    </div>
    <div class="safety-dialog remind">
        <i class="close"></i>
        <p>很抱歉，礼包已被抢光，下次请早点来哟！</p>
        <a href="javascript:void(0);" class="safety-btn">知道了</a>
    </div>
    <div class="safety-dialog-phone remind">
        <i class="close"></i>
        <p>抱歉，您需要验证手机后才能领取</p>
        <p class="phone-bottom">请前往账户中心验证手机！</p>
        <div>
            <a href="javascript:void(0);" class="safety-btn-one">暂不验证</a>
            <a class="safety-btn-two" data-code="libao-sjyz">去验证</a>
        </div>
    </div>
    <!--<div class="safety-dialog-email remind">
        <i class="close"></i>
        <p>抱歉，您需要验证邮箱后才能领取</p>
        <p class="phone-bottom">请前往账户中心验证邮箱！</p>
        <div>
            &lt;!&ndash;<a href="javascript:void(0);" class="safety-btn-one">暂不验证</a>
            <a href="//login.atguat.com.cn/login" class="safety-btn-two">去验证</a>&ndash;&gt;
        </div>
    </div>-->
    <div class="gift-safety-dialog gift-remind">
        <i class="gift-close"></i>
        <p class="gift-safety-text"><span></span></p>
        <div class="serverConPlus">
            <div class="clearfix n-scroll-wrap">
                <div class="scrollbar">
                    <div class="track">
                        <div class="thumb">
                            <div class="end"></div>
                        </div>
                    </div>
                </div>
                <div class="viewport">
                    <div class="overview">
                        <ul class="clearfix asset-content">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="gift-attention">注：发券可能延迟，请一分钟后在我的优惠券或我的美豆中查询</p>
        <a href="javascript:void(0);" class="gift-safety-btn">收入囊中</a>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="clearfix ">
            <i></i>
            <p><strong>门店服务</strong>
                <a rel="nofollow" data-code="1000043114-0" href="//help.gome.com.cn/question/37.html" target="_blank">国美门店全国共计2000余家</a>
</p>
        </span>
        <span class="clearfix ued">
            <i></i>
            <p><strong>用户体验</strong>
                <a rel="nofollow" data-code="1000043114-1" href="//help.gome.com.cn/question/5658.html" target="_blank">参与用户体验改进计划</a>
                <a rel="nofollow" data-code="1000043114-1" href="//survey.gome.com.cn/wj/762050349c.html" target="_blank">用户反馈</a>
            </p>
        </span>
        <div class="qrcode-section">
            <em class="code-sm wx">
                <i></i>
                <p>公众号</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif" gome-src="//gfs10.gomein.net.cn/T1kPDvBvZj1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-sm wap">
                <i></i>
                <p>手机站点</p>
                <div><img src="//app.gomein.net.cn/images/grey.gif" gome-src="//gfs13.gomein.net.cn/T1gGKvBshT1RCvBVdK.jpg"><i class="icon-triangle"></i></div>
            </em>
            <em class="code-bg app">
                <i>
                    <a data-code="1000043112-0" href="//shouji.gome.com.cn/" target="_blank"><img src="//gfs11.gomein.net.cn/T1sIDvB7hj1RCvBVdK.jpg"></a>

                </i>
                <p>扫描下载客户端</p>
            </em>
        </div>
        <ul>
            <li><a data-code="1000043124-0" href="http://igome.com/" target="_blank" rel="nofollow" >国美集团</a></li>
            <li><a data-code="1000043124-1" href="//www.gomegj.com/" target="_blank" >国美管家</a></li>
            <li><a data-code="1000043124-2" href="//help.gome.com.cn/about/company.html" target="_blank" >关于国美</a></li>
            <li><a data-code="1000043124-3" href="//zp.gome.com.cn" target="_blank" >加入我们</a></li><li>|</li>
            <li><a data-code="1000043124-4" href="//brand.gome.com.cn/" target="_blank" >品牌大全</a></li>
            <li><a data-code="1000043124-5" href="//www.gome.com.cn/topic/" target="_blank" >商品专题</a></li>
            <li><a data-code="1000043124-6" href="//www.gome.com.cn/chanpin/" target="_blank" >商品词</a></li>
            <li><a data-code="1000043124-7" href="//www.gome.com.cn/hotwords/" target="_blank" >热词搜索</a></li>
            <li><a data-code="1000043124-8" href="//www.gome.com.cn/links/" target="_blank" >友情链接</a></li>
            <li><a data-code="1000043124-9" href="//news.gome.com.cn/4-8ef49f4b-1-8.html" target="_blank" >风险监测</a></li><li>|</li>
            <li><a data-code="1000043124-10" href="//cps.gome.com.cn/" target="_blank" >销售联盟</a></li>
            <li><a data-code="1000043124-11" href="//www.gome.com.cn/join/" target="_blank" >商家入驻</a></li>
            <li><a data-code="1000043124-12" href="//amp.gome.com.cn" target="_blank" >广告营销</a></li>
        </ul>
        <p>本公司游戏产品适合18岁以上成年人使用&nbsp;&nbsp;违法和不良信息举报电话：021-39900132&nbsp;&nbsp;<a class="interDrug" href="//gfs13.gomein.net.cn/T1MvVsBCJT1RCvBVdK.jpg" target="_blank">互联网药品信息服务资格证编号（沪）-经营性-2019-0006</a></p>
        <p>网络食品销售第三方平台提供者备案：沪网食备A0015号&nbsp;&nbsp;<a class="interDrug" href="http://gfs12.gomein.net.cn/wireless/T1TQWvB_DT1RCvBVdK_1594_2253.jpg" target="_blank">网络文化经营许可证沪网文[2017]5537-436号</a>&nbsp;&nbsp;<a class="interDrug" href="http://gfs10.gomein.net.cn/wireless/T1SdWQBXK_1RCvBVdK_2187_3157.jpg" target="_blank">增值电信业务经营许可证</a></p>
        <p>客服电话:4008113333&nbsp;&nbsp;<a class="interDrug" href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action" target="_blank">沪ICP备11009419号/京ICP备 19011786号</a>&nbsp;&nbsp;<a class="interDrug" href="http://gfs11.gomein.net.cn/T12lAsBjdT1RCvBVdK.jpg" target="_blank">京B2-20191290</a>&nbsp;&nbsp;<a class="interDrug" href="//www.gome.com.cn/companyinfo/" target="_blank">经营执照</a>&nbsp;&nbsp;<a class="interDrug" href="//gfs13.gomein.net.cn/T1_sDQB5C_1RCvBVdK.jpg" target="_blank">营业执照</a>&nbsp;&nbsp;<a class="interDrug" href="http://gfs13.gomein.net.cn/T17uAbBCV_1RCvBVdK.jpg" target="_blank">出版物经营许可证</a></p>
        <p>©2000-2019&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;<a class="interDrug tw-w-ico-wrap" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038379" target="_blank"><i class="tw-w-mark-icon"></i>京公网安备 11010502038379号</a></p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020180207103133000002364548-SAIC_SHOW_310000-20111216142637606716&signData=MEUCIQC1/jeZWEtg92x7131WE/PdcIn+wobhHCTeFwGuSnrATwIgdmtvHOPsmE7svEq21kZgzaodmdwbXGKccHzhgqxZ5Xk=" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="https://ss.knet.cn/verifyseal.dll?sn=2011071100100011373&comefrom=trust" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="https://credit.szfw.org/CX20111018000607000618.html" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="http://scjgj.sh.gov.cn/platform/survey/step1_phone" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
            <a class="credit-report" href="http://www.shjbzx.cn/" target="_blank" rel="nofollow"><i></i><b>上海市互联网违法和不良信息举报中心</b></a>
            <!-- <a class="credit-syxy" href="https://sz.yhxy.org.cn/credit/verifyseal.php?sn=2008070300100000031&ct=df&pa=33&check=y" target="_blank" rel="nofollow"><i></i><b>炎黄鸿志商业信用认证体系</b></a> -->
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->
<div id="gome-bar">
    <div class="gome-aside">
        <ul>
            <li id="gome-aside-cart" class="lang">
                <b></b><a href="javascript:void(0)" class="lang"><i class="caricon"></i><b class="car_num car_num_0"><s>0</s><span class="point"></span></b><span class="text">购物车</span></a>
            </li>
            <li id="gome-aside-coupon">
                <b></b><a href="javascript:void(0)"><i></i></a>
                <div><a>我的优惠券</a></div>
            </li>
            <li id="gome-aside-survey">
                <b></b><a rel="nofollow" data-code="1000043132" href="//survey.gome.com.cn/wj/dfe09aacc3.html" target="_blank"><i></i></a>
                <div><p><a rel="nofollow" data-code="1000043132" href="//survey.gome.com.cn/wj/dfe09aacc3.html" target="_blank">有奖调研</a></p></div>
            </li>
            <li id="gome-aside-service">
                <b></b><a class="live800-service" customer-entry="composite" customer-service-button-id><i></i></a>
                <div><p><a class="live800-service" customer-entry="composite" customer-service-button-id>在线客服</a></p></div>
            </li>
            <li id="gome-aside-backtop">
                <b></b><a href="javascript:void(0)"><i></i></a>
                <div><p><a>返回顶部</a></p></div>
            </li>
        </ul>
    </div>
    <!-- gome-aside -->
    <div id="gome-bar-border">
        <ul id="gome-bar-border-tab">
            <li class="gome-bar-btn-member" data-open="member"><b></b><i class="membericon"></i><a class="gome-bar-btn-tip" rel="nofollow" href="javascript:void(0);">国美会员</a></li>
            <li class="gome-bar-btn-cart"  data-open="cart" id="gome-bar-btn-cart"><b class="car_arrow"></b><i class="caricon"></i><b class="car_num car_num_0"><s>0</s><span class="point"></span></b><span class="text">购物车</span></li>
            <li class="gome-bar-btn-coupon" data-open="coupon"><b></b><i class="caricon"></i></li>
            <li class="gome-bar-btn-favorites" data-open="favorites" id="gome-bar-btn-favorites"><b></b><i class="favorites-icon"></i><a class="gome-bar-btn-tip" href="javascript:void(0);">我的收藏</a></li>
        </ul>
    </div>
    <!-- gome-bar-border -->
    <div id="gome-bar-box">
        <div id="gome-bar-member" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="member-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="//app.gomein.net.cn/images/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-cart" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="cart-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="//app.gomein.net.cn/images/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-coupon" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span></h3>
            <div id="coupon-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="//app.gomein.net.cn/images/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>
            </div>
        </div>
        <div id="gome-bar-favorites" class="gome-bar-box-wrap">
            <h3><span class="gome-bar-close"></span><span class="gome-bar-title">我的收藏</span></h3>
            <ul class="favorites-tab">
                <li class="tab-item tab-item-goods selected">商品</li>
                <li class="tab-item tab-item-shop">店铺</li>
                <li class="tab-item tab-item-brand">品牌</li>
            </ul>
            <div id="favorites-body" class="gome-bar-box-body">
                <div class="gome-bar-box-loading">
                    <img src="//app.gomein.net.cn/images/grey.gif" gome-src="//app.gomein.net.cn/gmlib/ui/loading/1.0.0/loading.gif">
                </div>

                <div id="favorites-main-scrool" class="favorites-main">
                    <div class="main-item main-item-goods">
                    </div>
                    <div class="main-item main-item-shop">
                    </div>
                    <div class="main-item main-item-brand">
                    </div>
                </div>
            </div>
        </div>
        <!-- gome-bar-coupon -->
    </div>
    <!-- gome-bar-box -->
</div>
<!--aside-->
<script src="//js.gomein.net.cn/??gmlib/jq/1.7.1/jquery.js,sitemonitor/sa-sdk/sa.js,gmlib/cookie/1.0.0/cookie.js,gmpro/1.0.0/public/1.0.0/js/signtop.min.js,gmlib/unit/bigcode/1.0.0/bigcode.min.js,gmlib/unit/serviceEntrance/1.0.0/serviceEntrance.min.js,gmlib/ui/arttemplate/2.0.1/template.min.js,gmpro/1.0.0/public/member/js/searchautopoint.min.js,gmpro/1.0.0/cart/1.0.0/js/head-cart/cart.min.js,gmpro/1.0.0/cart/1.0.0/js/head-cart/mCart.min.js,gmpro/1.0.0/public/member/js/memberHead.min.js,gmpro/1.0.0/public/1.0.0/js/foot.min.js,gmpro/1.0.0/public/1.0.0/js/aside.min.js?v=201908291743,gmlib/sea/seajs/3.0.0/sea.js,gmlib/sea/seajs-combo/1.0.0/seajs-combo.js,gmpro/2.0.0/memberClub/1.2.2/js/libao/memberGiftBag.js"></script>
<script type="text/javascript">
    $(function () {
        $("a#a").attr("href", "car.html");
        //礼包悬浮显示
        $("#li").hover(
            function () {
                $("#info").show();
            },function () {
                $("#info").hide();
            }
        )
    });
</script>

</body>
</html>